export(basemaps)
export(get_colors)
export(get_palette)
export(mapcartodb)
export(mapgist)
export(maprcharts)
export(mapshiny)
export(occ)
export(occ2df)
export(palettes)
export(spocc_blanktheme)
export(spocc_capwords)
export(spocc_colClasses)
export(spocc_commas_to_periods)
export(spocc_create_gist)
export(spocc_gbifxmlToDataFrame)
export(spocc_get_credentials)
export(spocc_gist)
export(spocc_parseresults)
export(spocc_rcharts_togeojson)
export(spocc_stylegeojson)
export(spocc_togeojson)
import(RColorBrewer)
import(data.table)
import(ggplot2)
import(grid)
import(httr)
import(maptools)
import(rebird)
import(rgbif)
import(rgdal)
import(rinat)
import(rnpn)
importFrom(RJSONIO,toJSON)
importFrom(lubridate,now)
importFrom(plyr,compact)
importFrom(rbison,bison)
importFrom(rbison,bison_data)
