export(basemaps)
export(blanktheme)
export(capwords)
export(colClasses)
export(commas_to_periods)
export(gbifxmlToDataFrame)
export(get_colors)
export(get_palette)
export(mapcartodb)
export(mapgist)
export(maprcharts)
export(mapshiny)
export(occ)
export(occ_todf)
export(occmany_todf)
export(palettes)
export(parseresults)
export(spocc_create_gist)
export(spocc_get_credentials)
export(spocc_gist)
export(spocc_stylegeojson)
export(spocc_toGeoJSON)
export(spocc_togeojson)
import(RColorBrewer)
import(ggplot2)
import(grid)
import(httr)
import(maptools)
import(rgbif)
import(rgdal)
import(rinat)
import(rnpn)
importClassesFrom(sp,SpatialPointsDataFrame)
importFrom(RJSONIO,toJSON)
importFrom(lubridate,now)
importFrom(plyr,compact)
importFrom(plyr,rbind.fill)
importFrom(rbison,bison)
importFrom(rbison,bison_data)
