http_interactions:
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&extra=last_modified&georeferenced=True&page_size=5&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 18:33:23 GMT
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      string: '{"count": 691, "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::4326"}},
        "previous": null, "type": "FeatureCollection", "next": "https://ecoengine.berkeley.edu/api/observations/?country=United+States&extra=last_modified&format=geojson&georeferenced=True&page=2&page_size=5&scientific_name=Accipiter+striatus",
        "features": [{"geometry": {"type":"Point","coordinates":[-121.9029,37.6803]},
        "type": "Feature", "properties": {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:58696/",
        "record": "CAS:ORN:58696", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1943-01-28T00:00:00", "end_date": "1943-01-28T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "Eden Township Mystery Ranch", "coordinate_uncertainty_in_meters":
        1000, "recorded_by": "D.A.? Cohen", "last_modified": "2014-06-02T11:32:08.123611"}},{"geometry":
        {"type":"Point","coordinates":[-122.2705,37.3158]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:68653/",
        "record": "CAS:ORN:68653", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1972-10-29T00:00:00", "end_date": "1972-10-29T00:00:00",
        "source": [...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&extra=last_modified&georeferenced=True&page_size=5&page=1&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon,[...]
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Accipiter%20striatus&has%5B%5D=geo&page=1&per_page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9e076506b65a9ce4c6e094c9deab51e7"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-page: '1'
      x-per-page: '1'
      x-total-entries: '2346'
    body:
      encoding: UTF-8
      string: '[{"id":19918566,"observed_on":"2019-01-27","description":"Small hawk.","latitude":"36.7850629207","longitude":"-121.9349124677","map_scale":null,"timeframe":null,"species_guess":"Sharp-shinned
        Hawk","user_id":425713,"taxon_id":5097,"created_at":"2019-01-28T01:23:06.823Z","updated_at":"2019-01-28T16:11:28.125Z","place_guess":"California,
        US","id_please":false,"observed_on_string":"2019/01/27 9:26 AM PST","iconic_taxon_id":3,"num_identification_agreements":3,"num_identification_disagreements":0,"time_observed_at":"2019-01-27T17:26:00.000Z","time_zone":"Pacific
        Time (US \u0026 Canada)","location_is_exact":false,"delta":false,"positional_accuracy":2,"geoprivacy":null,"quality_grade":"research","positioning_method":null,"positioning_device":null,"out_of_range":false,"license":"CC-BY-NC","uri":"https://www.inaturalist.org/observations/19918566","observation_photos_count":1,"comments_count":0,"zic_time_zone":"America/Los_Angeles","oauth_application_id":null,"observation_sounds_count":0,"identifications_count":4,"captive":false,"community_taxon_id":5097,"site_id":1,"old_uuid":null,"public_positional_accuracy":28505,"mappable":true,"cached_votes_total":0,"last_indexed_at":"2019-01-28T16:16:41.244Z","uuid":"3776d4ed-7393-4bc4-a623-a7168a63fabb","taxon_geoprivacy":"obscured","short_description":"Small
        hawk.","user_login":"chloejreid","iconic_taxon_name":"Aves","tag_list":[],"faves_count":0,"created_at_utc":"2019-01-28T01:23:06.823Z","updated_at_utc":"2019-01-28T16:11:28.125Z","time_observed_at_utc":"2019-01-27T17:26:00.000Z","owners_identification_from_vision":true,"coordinates_obscured":true,"taxon":{"id":5097,"name":"Accipiter
        striatus","rank":"species","ancestry":"48460/1/2/355675/3/71261/5067/5085","common_name":{"id":6595,"name":"Sharp-shinned
        Hawk","is_valid":true,"lexicon":"English"}},"iconic_taxon":{"id":3,"name":"Aves","rank":"class","rank_level":50.0,"ancestry":"48460/1/2/355675"},"user":{"login":"chloejreid","user_icon_url":"https://static.inaturalist.org/attachments/users/icons/425713/thumb.jpeg?1489710409"},"photos":[{"id":30724287,"user_id":425713,"native_photo_id":"30724287","square_url":"https://static.inaturalist.org/photos/30724287/square.jpg?1548638275","thumb_url":"https://static.inaturalist.org/photos/30724287/thumb.jpg?1548638275","small_url":"https://static.inaturalist.org/photos/30724287/small.jpg?1548638275","medium_url":"https://static.inaturalist.org/photos/30724287/medium.jpg?1548638275","large_url":"https://static.inaturalist.org/photos/30724287/large.jpg?1548638275","created_at":"2019-01-28T01:17:57.714Z","updated_at":"2019-01-28T01:17:57.714Z","native_page_url":"https://www.inaturalist.org/photos/30724287","native_username":"chloejreid","native_realname":"Chloe
        Reid","license":2,"subtype":null,"native_original_image_url":null,"license_code":"CC-BY-NC","attribution":"(c)
        Chloe Reid, some rights reserved (CC BY-NC)","license_name":"Creative Commons
        Attribution-NonCommercial License","license_url":"http://creativecommons.org/licenses/by-nc/4.0/","type":"LocalPhoto"}]}]'
  recorded_at: 2019-01-28 19:32:53 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Accipiter%20striatus&has%5B%5D=geo&per_page=200&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3c4140a90d9e46d0e490afdd82ce81a4"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-page:[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/US/recent/shshaw?maxResults=5
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<ebird_api_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"speciesCode":"shshaw","comName":"Sharp-shinned Hawk","sciName":"Accipiter
        striatus","locId":"L8511435","locName":"Climate Watch, Tyler Park, Boardwalk
        Picnic Area, Tyler Drive Trail, Newtown, Pennsylvania, US (40.231, -74.967)","obsDt":"2019-01-28
        09:26","howMany":1,"lat":40.2314008,"lng":-74.966804,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"shshaw","comName":"Sharp-shinned
        Hawk","sciName":"Accipiter striatus","locId":"L4383006","locName":"EHS Track","obsDt":"2019-01-28
        09:00","howMany":2,"lat":38.753779,"lng":-76.067043,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"shshaw","comName":"Sharp-shinned
        Hawk","sciName":"Accipiter striatus","locId":"L8511136","locName":"365–399
        Uniontown Rd, Westminster US-MD (39.5822,-77.0093)","obsDt":"2019-01-28 08:06","howMany":1,"lat":39.582155,"lng":-77.009302,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"shshaw","comName":"Sharp-shinned
        Hawk","sciName":"Accipiter striatus","locId":"L976532","locName":"I-285 at
        Rt. 19/41","obsDt":"2019-01-28 08:05","howMany":1,"lat":33.6319153,"lng":-84.3880463,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"shshaw","comName":"Sharp-shinned
        Hawk","sciName":"Accipiter striatus","locId":"L376186","locName":"\"Viera\"
        Ritch Grissom Memorial Wetlands","obsDt":"2019-01-28 07:46","howMany":1,"lat":28.228577,"lng":-80.7604659,"obsValid":true,"obsReviewed":false,"locationPrivate":false}]'
  recorded_at: 2019-01-28 19:32:53 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=ITISscientificName%3A%22Accipiter%20striatus%22&wt=json&rows=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"ITISscientificName:\"Accipiter striatus\"","rows":"5","wt":"json"}},"response":{"numFound":1081210,"start":0,"docs":[{"eventDate":"1972-04-23","providedScientificName":"Accipiter striatus","year":1972,"countryCode":"US","ambiguous":false,"latlon":"-84.91667,46.75","computedCountyFips":"26033","occurrenceID":"51678606","decimalLongitude":-84.91667,"basisOfRecord":"observation","providedCommonName":"Sharp-shinned Hawk","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientificName":"Accipiter striatus","institutionID":"https://bison.usgs.gov","computedStateFips":"26","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["175304"],"providerID":440,"stateProvince":"Michigan","higherGeographyID":"26000","decimalLatitude":46.75,"geo":"-84.91667 46.75","provider":"BISON","calculatedCounty":"Chippewa","ITISscientificName":"Accipiter striatus","pointPath":"/-84.91667,46.75/observation/centroid","kingdom":"Animalia","calculatedState":"Michigan","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-174371-823961-175280-175299-175304-","centroid":"10 Minute Block","ITIScommonName":"Sharp-shinned Hawk;epervier brun;Épervier brun;Gavilán pecho rufo","resourceID":"440,100008","ITIStsn":"175304","_version_":1592409441931624456},{"eventDate":"1968-05-07","providedScientificName":"Accipiter striatus","year":1968,"countryCode":"US","ambiguous":false,"latlon":"-84.91667,46.75","computedCountyFips":"26033","occurrenceID":"51678608","decimalLongitude":-84.91667,"basisOfRecord":"observation","providedCommonName":"Sharp-shinned Hawk","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientific[...]
