http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&occurrenceStatus=PRESENT&limit=5&offset=0&scientificName=Accipiter
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-12-06 16:06:37
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=FALSE&occurrenceStatus=PRESENT&limit=5&offset=0&scientificName=Accipiter+striatus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '16'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":5127,"results":[{"key":5063340096,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-12-03T05:25:56.254+00:00","lastParsed":"2025-12-03T20:27:26.443+00:00","crawlId":570,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/465591942/original.jpg","http://purl.org/dc/terms/created":"2025-01-22T09:42:16-08:00","http://purl.org/dc/terms/creator":"Mike
        Hannisian","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rightsHolder":"Mike
        Hannisian","http://rs.tdwg.org/dwc/terms/catalogNumber":"465591942","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/465591942","http://purl.org/dc/terms/type":"StillImage"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"93VZ","name":"Accipiter
        striatus Vieillot, 1808","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Vieillot,
        1808","genericName":"Accipiter","specificEpithet":"striatus","formattedName":"<i>Accipiter</i>
        <i>striatus</i> Vieillot, 1808"},"acceptedUsage":{"key":"93VZ","name":"Accipiter
        striatus Vieillot, 1808","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Vieillot,
        1808","genericName":"Accipiter","specificEpithet":"striatus","formattedName":"<i>Accipiter</i>
        <i>striatus</i> Vieillot, 1808"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"CH2","name":"Chordata","rank":"PHYLUM"},{"key":"8V4V3","name":"Vertebrata","rank":"SUBPHYLUM"},{"key":"8V4V5","name":"Gnathostomata","rank":"INFRAPHYLUM"},{"key":"8VVWB","name":"Osteichthyes","rank":"PARVPHYLUM"},{"key":"9CK8W","name":"Tetrapoda","rank":"MEGACLASS"},{"key":"V2","name":"Aves","rank":"CLASS"},{"key":"MB","name":"Accipitriformes","rank":"ORDER"},{"key":"5W6","name":"Accipitridae","rank":"FAMILY"},{"key":"627QR","name":"Accipiter","rank":"GENUS"},{"key":"93VZ","name":"Accipiter
        striatus","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"9740253","name":"Accipiter
        striatus Vieillot, 1808","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Vieillot,
        1808","genericName":"Accipiter","specificEpithet":"striatus","formattedName":"<i>Accipiter</i>
        <i>striatus</i> Vieillot, 1808"},"acceptedUsage":{"key":"9740253","name":"Accipiter
        striatus Vieillot, 1808","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"Vieillot,
        1808","genericName":"Accipiter","specificEpithet":"striatus","formattedName":"<i>Accipiter</i>
        <i>striatus</i> Vieillot, 1808"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"44","name":"Chordata","rank":"PHYLUM"},{"key":"212","name":"Aves","rank":"CLASS"},{"key":"7191147","name":"Accipitriformes","rank":"ORDER"},{"key":"2877","name":"Accipitridae","rank":"FAMILY"},{"key":"9405810","name":"Accipiter","rank":"GENUS"},{"key":"9740253","name":"Accipiter
        striatus","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","scientificNameAuthorship":"Vieillot, 1808","acceptedScientificName":"Accipiter
        striatus Vieillot, 1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2025-01-23T22:20:39","coordinateUncertaintyInMeters":28151.0,"gadm":{},"year":2025,"month":1,"day":22,"eventDate":"2025-01-22T09:42","startDayOfYear":22,"endDayOfYear":22,"issues":["TAXON_ID_NOT_FOUND"],"modified":"2025-02-19T02:13:35.000+00:00","lastInterpreted":"2025-12-03T20:27:26.443+00:00","references":"https://www.inaturalist.org/observations/259375554","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"259375554"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/465591942","created":"2025-01-22T17:42:16.000+00:00","creator":"Mike
        Hannisian","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Mike
        Hannisian","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/465591942/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Mike Hannisian","identifiedBy":"Mike
        Hannisian","dnaSequenceID":[],"class":"Aves","recordedByIDs":[],"identifiedByIDs":[],"publishedByGbifRegion":"NORTH_AMERICA","rightsHolder":"Mike
        Hannisian","identifier":"259375554","http://unknown.org/nick":"mikehannisian","informationWithheld":"Coordinates
        hidden at the request of the observer","verbatimEventDate":"2025/01/22 9:42
        AM","collectionCode":"Observations","gbifID":"5063340096","occurrenceID":"https://www.inaturalist.org/observations/259375554","taxonID":"5097","http://unknown.org/captive_cultivated":"wild","catalogNumber":"259375554","institutionCode":"iNaturalist","eventTime":"09:42:00-05:00","occurrenceRemarks":"MBY","identificationID":"586014791"},{"key":4525258363,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-12-03T05:25:56.254+00:00","lastParsed":"2025-12-03T18:05:31.981+00:00","crawlId":570,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
