http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=TRUE&limit=5&offset=0&scientificName=Accipiter
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":3694238,"results":[{"key":1986615536,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:07.748+0000","lastParsed":"2019-01-13T23:39:08.749+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2480621,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":2480621,"acceptedTaxonKey":2480621,"scientificName":"Accipiter
        cooperi (Bonaparte, 1828)","acceptedScientificName":"Accipiter cooperi (Bonaparte,
        1828)","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        cooperi","genericName":"Accipiter","specificEpithet":"cooperi","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-08T21:04:58","decimalLongitude":-102.068444,"decimalLatitude":32.038643,"coordinateUncertaintyInMeters":15.0,"stateProvince":"Texas","year":2019,"month":1,"day":8,"eventDate":"2019-01-08T11:52:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84","TAXON_MATCH_FUZZY"],"modified":"2019-01-08T21:44:43.000+0000","lastInterpreted":"2019-01-13T23:39:30.263+0000","references":"https://www.inaturalist.org/observations/19518623","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"ibaline","identifier":"19518623","verbatimEventDate":"2019/01/08
        11:52 AM CST","datasetName":"iNaturalist research-grade observations","gbifID":"1986615536","verbatimLocality":"Midland,
        TX, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19518623","taxonID":"5112","catalogNumber":"19518623","recordedBy":"ibaline","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19518623","institutionCode":"iNaturalist","rights":"©
        ibaline some rights reserved","eventTime":"17:52:00Z","identificationID":"42794207"},{"key":1986627721,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:10.701+0000","lastParsed":"2019-01-13T23:39:14.388+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2480621,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?hasCoordinate=FALSE&limit=5&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
    [...]
