http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=TSNs%3A%2219349%22&wt=json&rows=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"TSNs:\"19349\"","rows":"5","wt":"json"}},"response":{"numFound":4,"start":0,"docs":[{"eventDate":"1917-12-03T01:00Z","providedScientificName":"Quercus harbisonii Sarg.","year":1917,"countryCode":"US","providedCounty":"Duval County","ambiguous":false,"verbatimLocality":"","computedCountyFips":"","occurrenceID":"84956580","basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://kiki.huh.harvard.edu/databases/","ownerInstitutionCollectionCode":"Harvard University Herbaria","scientificName":"Quercus harbisonii","institutionID":"http://www.huh.harvard.edu","license":"CC_BY_NC_4_0","TSNs":["19349"],"providerID":214,"stateProvince":"Florida","higherGeographyID":"","verbatimEventDate":"","coordinatePrecision":"","verbatimElevation":"","recordedBy":"T. G. Harbison","provider":"Harvard University Herbaria","calculatedCounty":"","verbatimDepth":"","catalogNumber":"barcode-00034063","ITISscientificName":"Quercus harbisonii","coordinateUncertaintyInMeters":"","pointPath":"/null,null/specimen","kingdom":"Plantae","calculatedState":"","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-18063-846548-19273-19275-19276-19349-","collectorNumber":"16","ITIScommonName":"Harbison's oak","resourceID":"214,202435","ITIStsn":"19349","_version_":1592413527257120768},{"eventDate":"1942-01-01T02:00Z","providedScientificName":"Quercus harbisonii Sarg.","year":1942,"countryCode":"US","providedCounty":"Brazos","ambiguous":false,"verbatimLocality":"","latlon":"-96.3023887,30.6567254","computedCountyFips":"48041","occurrenceID":"185768243","decimalLongitude":-96.30239,"basisOfRecord":"specimen","providedCommonName":"","ownerInstitutionCollectionCode":"Tropicos Specimen Data","scientificName":"Quercus harbisonii","institutionID":"http://www.mobot.org","computedStateFips":"48","license":"CC_BY_4_0","TSNs":["19349"],"providerID":111,"stateProvince":"Texas","higherGeographyID":"","verbatimEventDate":"","decimalLatitude":30.656725,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"FLORY","geo":"-96.3023887 30.6567254","provider":"Missouri Botanical Garden","calculatedCounty":"Brazos","verbatimDepth":"","catalogNumber":"1665564","ITISscientificName":"Quercus harbisonii","coordinateUncertaintyInMeters":"","pointPath":"/-96.3023887,30.6567254/specimen/centroid","kingdom":"Plantae","calculatedState":"Texas","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-18063-846548-19273-19275-19276-19349-","collectorNumber":"FLORY s.n.","centroid":"county","ITIScommonName":"Harbison's oak","resourceID":"111,202405","ITIStsn":"19349","_version_":1592426575036416006},{"eventDate":"1942-01-01T02:00Z","providedScientificName":"Quercus harbisonii Sarg.","year":1942,"countryCode":"US","providedCounty":"Brazos","ambiguous":false,"verbatimLocality":"","latlon":"-96.3023887,30.6567254","computedCountyFips":"48041","occurrenceID":"185769249","decimalLongitude":-96.30239,"basisOfRecord":"specimen","providedCommonName":"","ownerInstitutionCollectionC[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&taxonKey=2441175
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":26245,"results":[{"key":1805412900,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:27.812+0000","lastParsed":"2018-10-08T17:07:21.976+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2441176,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":731,"familyKey":9614,"genusKey":2441175,"speciesKey":2441176,"acceptedTaxonKey":2441176,"scientificName":"Bison
        bison (Linnaeus, 1758)","acceptedScientificName":"Bison bison (Linnaeus, 1758)","kingdom":"Animalia","phylum":"Chordata","order":"Artiodactyla","family":"Bovidae","genus":"Bison","species":"Bison
        bison","genericName":"Bison","specificEpithet":"bison","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2018-01-17T21:42:57","decimalLongitude":-110.694764,"decimalLatitude":44.944623,"coordinateUncertaintyInMeters":27253.0,"stateProvince":"Wyoming","year":2018,"month":1,"day":17,"eventDate":"2018-01-17T14:42:47","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-09-10T05:26:42.000+0000","lastInterpreted":"2018-12-23T09:29:16.002+0000","references":"https://www.inaturalist.org/observations/9511472","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/12978568/original.jpg?1516302687","references":"https://www.inaturalist.org/photos/12978568","created":"2018-01-17T21:42:47.000+0000","creator":"Nicholas
        Sly","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Nicholas
        Sly"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Mammalia","countryCode":"US","country":"United
        States of America","rightsHolder":"Nicholas Sly","identifier":"9511472","informationWithheld":"Coordinate
        uncertainty increased to 27253m to protect threatened taxon","verbatimEventDate":"Wed
        Jan 17 2018 14:42:47 GMT-0700 (MST)","datasetName":"iNaturalist research-grade
        observations","gbifID":"1805412900","verbatimLocality":"United States","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/9511472","taxonID":"42408","catalogNumber":"9511472","recordedBy":"Nicholas
        Sly","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9511472","institutionCode":"iNaturalist","rights":"©
        Nicholas Sly some rights reserved","eventTime":"21:42:47Z","identificationID":"20833019"},{"key":1805418496,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:28.908+0000","lastParsed":"2018-10-08T17:07:25.136+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2441176,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":731,"f[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&taxonKey=5285750
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":10349,"results":[{"key":1986593119,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:03.277+0000","lastParsed":"2019-01-13T23:38:58.977+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":7230686,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"acceptedTaxonKey":7230686,"scientificName":"Pinus
        contorta var. contorta","acceptedScientificName":"Pinus contorta var. contorta","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","genericName":"Pinus","specificEpithet":"contorta","infraspecificEpithet":"contorta","taxonRank":"VARIETY","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-06T03:20:07","decimalLongitude":-122.650306,"decimalLatitude":49.347542,"coordinateUncertaintyInMeters":10.0,"stateProvince":"British
        Columbia","year":2019,"month":1,"day":5,"eventDate":"2019-01-05T10:17:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-06T05:16:17.000+0000","lastInterpreted":"2019-01-13T23:39:16.307+0000","references":"https://www.inaturalist.org/[...]
[...]
