http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":737439,"results":[{"key":1986597531,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.188+0000","lastParsed":"2019-01-13T23:39:01.074+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-07T12:18:42","decimalLongitude":-75.995461,"decimalLatitude":41.163283,"coordinateUncertaintyInMeters":15.0,"stateProvince":"Pennsylvania","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T12:50:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-07T12:18:42.000+0000","lastInterpreted":"2019-01-13T23:39:18.595+0000","references":"https://www.inaturalist.org/observations/19470337","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956159/original.jpeg?1546797512","references":"https://www.inaturalist.org/photos/29956159","created":"2019-01-06T20:50:09.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956389/original.jpeg?1546797859","references":"https://www.inaturalist.org/photos/29956389","created":"2019-01-06T20:49:34.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"bernicez","identifier":"19470337","verbatimEventDate":"2019/01/06
        12:50 PM EST","datasetName":"iNaturalist research-grade observations","gbifID":"1986597531","verbatimLocality":"Mountain
        Top, PA 18707, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19470337","taxonID":"5097","catalogNumber":"19470337","recordedBy":"bernicez","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19470337","institutionCode":"iNaturalist","rights":"©
        bernicez some rights reserved","eventTime":"17:50:00Z","identificationID":"42703521"},{"key":1986599614,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.510+0000","lastParsed":"2019-01-13T23:39:02.007+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&extra=last_modified&georeferenced=FALSE&page_size=3&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 18:33:45 GMT
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      string: '{"count": 771, "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::4326"}},
        "previous": null, "type": "FeatureCollection", "next": "https://ecoengine.berkeley.edu/api/observations/?country=United+States&extra=last_modified&format=geojson&georeferenced=FALSE&page=2&page_size=3&scientific_name=Accipiter+striatus",
        "features": [{"geometry": {"type":"Point","coordinates":[-122.2425,37.8438]},
        "type": "Feature", "properties": {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:69974/",
        "record": "CAS:ORN:69974", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1977-02-13T00:00:00", "end_date": "1977-02-13T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "Oakland; 5832 Acacia Avenue", "coordinate_uncertainty_in_meters":
        1000, "recorded_by": "Margaret  G. Zeff", "last_modified": "2014-06-02T11:37:34.295144"}},{"geometry":
        {"type":"Point","coordinates":[-122.6356,38.239]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:70010/",
        "record": "CAS:ORN:70010", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1975-11-26T00:00:00", "end_date": "1975-11-26T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "Petaluma", "coordinate_uncertainty_in_meters": 1000, "recorded_by":
        "Anna Hilgefard", "last_modified": "2014-06-02T11:37:35.259080"}},{"geometry":
        {"type":"Point","coordinates":[-122.8659,38.6151]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:70242/",
        "record": "CAS:ORN:70242", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus", "country": "United States", "state_province": "California",
        "begin_date": "1977-12-24T00:00:00", "end_date": "1977-12-24T00:00:00", "source":
        "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource": "", "locality":
        "Healdsburg", "coordinate_uncertainty_in_meters": 1000, "recorded_by": "K.
        Riley", "last_modified": "2014-06-02T11:37:40.950973"}}]}'
  recorded_at: 2019-01-28 18:55:31 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&extra=last_modified&georeferenced=FALSE&page_size=3&page=1&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon[...]
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Danaus%20plexippus&has%5B%5D=geo&page=1&per_page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c3111525b7463262ffe283c0dfc77226"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-page: '1'
      x-per-page: '1'
      x-total-entries: '48419'
    body:
      encoding: UTF-8
      string: '[{"id":19930326,"observed_on":"2019-01-20","description":null,"latitude":"19.1809626542","longitude":"-99.9595356012","map_scale":null,"timeframe":null,"species_guess":"Mariposa
        Monarca","user_id":26292,"taxon_id":48662,"created_at":"2019-01-28T16:03:29.016Z","updated_at":"2019-01-28T16:42:12.921Z","place_guess":"Temascaltepec,
        Méx., México","id_please":false,"observed_on_string":"2019/01/20 1:28 PM CST","iconic_taxon_id":47158,"num_identification_agreements":3,"num_identification_disagreements":0,"time_observed_at":"2019-01-20T19:28:00.000Z","time_zone":"Central
        Time (US \u0026 Canada)","location_is_exact":false,"delta":false,"positional_accuracy":142,"geoprivacy":null,"quality_grade":"research","positioning_method":null,"positioning_device":null,"out_of_range":null,"license":"CC-BY-NC-SA","uri":"https://www.inaturalist.org/observations/19930326","observation_photos_count":1,"comments_count":0,"zic_time_zone":"America/Chicago","oauth_application_id":null,"observation_sounds_count":0,"identifications_count":4,"captive":false,"community_taxon_id":48662,"site_id":2,"old_uuid":null,"public_positional_accuracy":142,"mappable":true,"cached_votes_total":0,"last_indexed_at":"2019-01-28T16:42:15.045Z","uuid":"ce4be698-4547-47ae-a942-b5398f7f886c","taxon_geoprivacy":null,"short_description":null,"user_login":"fcoarce","iconic_taxon_name":"Insecta","tag_list":[],"faves_count":0,"created_at_utc":"2019-01-28T16:03:29.016Z","updated_at_utc":"2019-01-28T16:42:12.921Z","time_observed_at_utc":"2019-01-20T19:28:00.000Z","owners_identification_from_vision":true,"coordinates_obscured":false,"taxon":{"id":48662,"name":"Danaus
        plexippus","rank":"species","ancestry":"48460/1/47120/372739/47158/184884/47157/47224/47922/61244/134169/522900/48663","common_name":{"id":586653,"name":"Monarch","is_valid":true,"lexicon":"English"}},"iconic_taxon":{"id":47158,"name":"Insecta","rank":"class","rank_level":50.0,"ancestry":"48460/1/47120/372739"},"user":{"login":"fcoarce","user_icon_url":"https://static.inaturalist.org/attachments/users/icons/26292/thumb.jpg?1475541001"},"photos":[{"id":30746071,"user_id":26292,"native_photo_id":"30746071","square_url":"https://static.inaturalist.org/photos/30746071/square.jpeg?1548691347","thumb_url":"https://static.inaturalist.org/photos/30746071/thumb.jpeg?1548691347","small_url":"https://static.inaturalist.org/photos/30746071/small.jpeg?1548691347","medium_url":"https://static.inaturalist.org/photos/30746071/medium.jpeg?1548691347","large_url":"https://static.inaturalist.org/photos/30746071/large.jpeg?1548691347","created_at":"2019-01-28T16:02:30.294Z","updated_at":"2019-01-28T16:02:30.294Z","native_page_url":"https://www.inaturalist.org/photos/30746071","native_username":"fcoarce","native_realname":"Francisco
        Arce","license":3,"subtype":null,"native_original_image_url":null,"license_code":"CC-BY-NC-ND","attribution":"(c)
        Francisco Arce, some rights reserved (CC BY-NC-ND)","license_name":"Creative
        Commons Attribution-NonCommercial-NoDerivs License","license_url":"http://creativecommons.org/licenses/by-nc-nd/4.0/","type":"LocalPhoto"}]}]'
  recorded_at: 2019-01-28 18:55:31 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Danaus%20plexippus&has%5B%5D=geo&per_page=200&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9f5cde66f1f55cdef708494b33b03ded"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-page: '[...]
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=ITISscientificName%3A%22Bison%20bison%22&wt=json&rows=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"ITISscientificName:\"Bison bison\"","rows":"3","wt":"json"}},"response":{"numFound":9573,"start":0,"docs":[{"eventDate":"2008-01-01T01:00Z","providedScientificName":"Bos bison Linnaeus, 1758","year":2008,"countryCode":"US","providedCounty":"","ambiguous":false,"verbatimLocality":"","occurrenceID":"68751387","basisOfRecord":"unknown","providedCommonName":"","collectionID":"http://www.natureserve.org/","ownerInstitutionCollectionCode":"NatureServe Network Species Occurrence Data","scientificName":"Bos bison","institutionID":"http://www.natureserve.org","license":"CC_BY_NC_4_0","TSNs":["180706"],"providerID":136,"stateProvince":"Montana","higherGeographyID":"","verbatimEventDate":"","coordinatePrecision":"","verbatimElevation":"","recordedBy":"","provider":"NatureServe","verbatimDepth":"","catalogNumber":"43-34805-1775","ITISscientificName":"Bison bison","coordinateUncertaintyInMeters":"","pointPath":"/null,null/unknown","kingdom":"Animalia","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-179913-179916-179925-180692-180704-552332-180705-180706-","collectorNumber":"","ITIScommonName":"American bison;bison;Bisonte americano","resourceID":"136,202657","ITIStsn":"203618","_version_":1592411470151286787},{"eventDate":"2008-01-01T01:00Z","providedScientificName":"Bos bison Linnaeus, 1758","year":2008,"countryCode":"US","providedCounty":"","ambiguous":false,"verbatimLocality":"","occurrenceID":"68812612","basisOfRecord":"unknown","providedCommonName":"","collectionID":"http://www.natureserve.org/","ownerInstitutionCollectionCode":"NatureServe Network Species Occurrence Data","scientificName":"Bos bison","institutionID":"http://www.natureserve.org","license":"CC_BY_NC_4_0","TSN[...]
- request:
    method: get
    uri: http://api.vertnet-portal.appspot.com/api/search?q=%7B%22q%22%3A%22Spinus%20tristis%22%2C%22l%22%3A3%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      charset: utf-8
      x-cloud-trace-context: aaa1191d3949d89f4fb8659d7c6899f2
    body:
      encoding: UTF-8
      string: '{"request_date": "2019-01-28T18:55:30.304863", "response_records":
        3, "submitted_query": "Spinus tristis", "request_origin": "45.512231,-122.658718",
        "limit": 3, "cursor": "False:CvEGCqoECvwD9wAAABn_____jIGJmo2LkZqL0o-QjYuek96WkZuah9LNz87M0s_H0s_H_wAA_3RtoKCZi4ygoP8AAP9dno-PmpGYlpGa_wAA_3N0bZaRm5qH_wAA_12biJz_AAD_c3Rtm5CcoJab_wAA_12cl56M0J2WjZvSmpiYjNCXi4uP0p6NnIuQjNKbnouenZ6MmtKSioyaipLSmIqWm9Kcl56M0pqYmNLKzM7SjJqWm9LMzs3Gz8bH_wAA_3N_nJeejNCdlo2b0pqYmIzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSnJeejNKamJjSyszO0oyalpvSzM7Nxs_Gx_8AAP__AP7__oyBiZqNi5Gai9KPkI2LnpPelpGbmofSzc_OzNLPx9LPx_8AdG2goJmLjKCg_wBdno-PmpGYlpGa_wBzdG2WkZuah_8AXZuInP8Ac3Rtm5CcoJab_wBdnJeejNCdlo2b0pqYmIzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSnJeejNKamJjSyszO0oyalpvSzM7Nxs_Gx_8Ac3-cl56M0J2WjZvSmpiYjNCXi4uP0p6NnIuQjNKbnouenZ6MmtKSioyaipLSmIqWm9Kcl56M0pqYmNLKzM7SjJqWm9LMzs3Gz8bH_wD__hADIdteL9GbJNTJOQAAAADm____SANQAFoLCfei8OUUisECEAJgvZWWoAQSDURvY3VtZW50SW5kZXgakAIoQU5EIChJUyAiY3VzdG9tZXJfbmFtZSIgImFwcGVuZ2luZSIpIChJUyAiZ3JvdXBfbmFtZSIgInN-dmVydG5ldC1wb3J0YWwiKSAoSVMgIm5hbWVzcGFjZSIgImluZGV4LTIwMTMtMDgtMDgiKSAoSVMgImluZGV4X25hbWUiICJkd2MiKSAoT1IgKEFORCAoT1IgKFFUICJTcGludXMiKSAoSVMgIl9fZ2F0b21fXyIgInNwaW51cyIpKSAoT1IgKFFUICJ0cmlzdGlzIikgKElTICJfX2dhdG9tX18iICJ0cmlzdGlzIikpKSAoSVMgIl9fZ2F0b21fXyIgInNwaW51cyB0cmlzdGlzIikpKToZCgwoTiBvcmRlcl9pZCkQARkAAAAAAADw_0oFCABA6Ac",
        "query_version": "search.py 2016-08-15T16:43+02:00", "recs": [{"haslifestage":
        "0", "month": "08", "decimallongitude": "-88.063922", "isarch": "0", "startdayofyear":
        "214", "networks": "Arctos,ORNIS,VertNet", "vntype": "specimen", "title":
        "CHAS Oology Collection (Arctos)", "accessrights": "http://vertnet.org/resources/norms.html",
        "kingdom": "Animalia", "dctype": "PhysicalObject", "iptrecordid": "http://arctos.database.museum/guid/CHAS:Egg:360?seid=3128876",
        "day": "02", "identificationverificationstatus": "legacy", "occurrenceid":
        "http://arctos.database.museum/guid/CHAS:Egg:360?seid=3128876", "identificationqualifier":
        "A", "georeferenceddate": "2016-07-01", "verbatimeventdate": "[transcribed
        directly into formatted date fields]", "coordinateuncertaintyinmeters": "3722",
        "higherclassification": "Animalia; Chordata; Aves; Passeriformes; Fringillidae;
        Carduelinae;", "pubdate": "2018-10-01", "modified": "2018-09-20 14:23:58.0",
        "year": "1897", "wasinvasive": "0", "specificepithet": "tristis", "basisofrecord":
        "PreservedSpecimen", "geodeticdatum": "not recorded", "occurrenceremarks":
        "INTERNAL NOTES: ''April 1924 - placed with other boxed eggs on 3rd floor
        but kept separately'' [egg catalog]. DATA HISTORY: Date listed as verified/cataloged
        is 1988-06-15. Record last updated in Excel (prior to Arctos migration) by
        Amber King (2011-06-29).", "highergeography": "North America, United States,
        Illinois, DuPage County", "continent": "North America", "email": "droberts@naturemuseum.org",
        "orgcountry": "United States", "source_url": "http://ipt.vertnet.org:8080/ipt/resource.do?r=chas_eggsnest",
        "scientificname": "Carduelis tristis tristis", "hashid": "9916", "hassex":
        "0", "catalognumber": "360", "language": "en", "institutionid": "http://grbio.org/cool/nn0p-dxqs",
        "country": "United States", "hastissue": "0", "genus": "Carduelis", "georeferenceprotocol":
        "GeoLocate", "family": "Fringillidae", "stateprovince": "Illinois", "rank":
        12, "county": "DuPage County", "phylum": "Chordata", "references": "http://arctos.database.museum/guid/CHAS:Egg:360",
        "georeferencedby": "Michelle Lawniczak", "taxonrank": "subspecies", "hasmedia":
        "1", "verbatimlocality": "Glen Ellyn, Milton Township", "habitat": "About
        15'' from ground in tall osage hedge.", "institutioncode": "CHAS", "eventremarks":
        "Had to use tall step ladder in order to reach it.", "orgstateprovince": "Illinois",
        "organismid": "http://arctos.database.museum/guid/CHAS:Egg:360", "hastypestatus":
        "0", "preparations": "nest; egg", "recordedby": "Collector(s): Benjamin T.
        Gault", "isfossil": "0", "license": "http://creativecommons.org/publicdomain/zero/1.0/",
        "dynamicproperties": "verbatim collector=B.T. Gault ; incubation stage=fresh",
        "georeferenceverificationstatus": "unverified", "infraspecificepithet": "tristis",
        "haslicense": "1", "eventdate": "1897-08-02", "haslength": "0", "individualcount":
        "1", "bibliographiccitation": "Chicago Academy of Sciences. CHAS Oology Collection
        (Arctos). Record ID: http://arctos.database.museum/guid/CHAS:Egg:360?seid=3128876.
        Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=chas_eggsnest (source
        published on 2018-10-01)", "citation": "Chicago Academy of Sciences. CHAS
        Oology Collection (Arctos). Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=chas_eggsnest
        (source published on 2018-10-01)", "georeferencesources": "GeoLocate", "nomenclaturalcode":
        "ICZN", "lastindexed": "2018-11-05", "dateidentified": "1897-08-02", "wascaptive":
        "0", "emlrights": "http://creativecommons.org/publicdomain/zero/1.0 and http://vertnet.org/resources/norms.html",
        "hasmass": "0", "gbifdatasetid": "fda9a8f8-6342-4f73-8c3b-8b79e62afc9d", "locality":
        "Glen Ellyn", "orgname": "Chicago Academy of Sciences", "contact": "Dawn Roberts",
        "migrator": "no migrator", "informationwithheld": "mask part attribute location",
        "icode": "CHAS", "gbifpublisherid": "f2489500-dbab-4fbc-95ed-19eead127483",
        "class": "Aves", "previousidentifications": "<i>Carduelis tristis tristis</i>
        (accepted ID) identified by Benjamin T. Gault on 1897-08-02; method: legacy
        Remark: American Goldfinch. Verbatim AOU Number: 529.<br><i>Spinus tristis
        tristis</i> identified by unknown; method: ID of kin Remark: Female on the
        nest.", "identificationremarks": "American Goldfinch. Verbatim AOU Number:
        529.", "decimallatitude": "41.867303", "mappable": "1", "locationaccordingto":
        "Michelle Lawniczak", "othercatalognumbers": "UUID=11e363f7-8858-469d-b207-9bc8b3dc84a4;
        original identifier=419-4/6; original identifier=M-10", "identifiedby": "Benjamin
        T. Gault", "associatedmedia": "http://arctos.database.museum/MediaSearch.cfm?collection_object_id=25877308",
        "keyname": "chas/bird-eggs/http-arctos-database-museum-guid-chas-egg-360-seid-3128876",
        "enddayofyear": "214", "order": "Passeriformes", "collectioncode": "Bird eggs"},
        {"haslifestage": "0", "month": "08", "decimallongitude": "-87.861154", "isarch":
        "0", "startdayofyear": "215", "networks": "Arctos,ORNIS,VertNet", "vntype":
        "specimen", "title": "CHAS Oology Collection (Arctos)", "accessrights": "http://vertnet.org/resources/norms.html",
        "kingdom": "Animalia", "dctype": "PhysicalObject", "iptrecordid": "http://arctos.database.museum/guid/CHAS:Egg:529?seid=3129099",
        "day": "03", "identificationverificationsta[...]
- request:
    method: get
    uri: http://api.iobis.org/occurrence?scientificname=Mola%20mola&limit=3&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":15718,"offset":0,"limit":3,"lastpage":false,"results":[{"id":28003,"decimalLongitude":20.0599994659424,"decimalLatitude":-36.1699981689453,"depth":202.0,"eventDate":"2005-04-08
        07:28:48","institutionCode":"MCM","collectionCode":"DEM","catalogNumber":"MCM-DEM-181410","datasetName":"Marine
        and Coastal Management - Demersal Surveys (AfrOBIS)","phylum":"Chordata","order":"Tetraodontiformes","family":"Molidae","genus":"Mola","scientificName":"Mola
        mola","originalScientificName":"Mola mola","scientificNameAuthorship":"(Linnaeus,
        1758)","obisID":472375,"resourceID":161,"yearcollected":2005,"species":"Mola
        mola","qc":871886463,"aphiaID":127405,"speciesID":472375,"scientificNameID":"urn:lsid:marinespecies.org:taxname:127405","class":"Actinopterygii"},{"id":54456,"decimalLongitude":-69.4539222717285,"decimalLatitude":43.04811096191405,"eventDate":"2005-07-29
        05:24:00","institutionCode":"GoMA","collectionCode":"Platts Bank Aerial Survey","catalogNumber":"11768.00","individualCount":1.0,"datasetName":"Aerial
        survey of upper trophic level predators on PLatts Bank, Gulf of Maine","phylum":"Chordata","order":"Tetraodontiformes","family":"Molidae","genus":"Mola","scientificName":"Mola
        mola","originalScientificName":"Mola mola","scientificNameAuthorship":"(Linnaeus,
        1758)","obisID":472375,"resourceID":267,"yearcollected":2005,"species":"Mola
        mola","qc":1073217151,"aphiaID":127405,"speciesID":472375,"scientificNameID":"urn:lsid:marinespecies.org:taxname:127405","class":"Actinopterygii"},{"id":74724,"decimalLongitude":-69.4564971923828,"decimalLatitude":43.04741477966305,"eventDate":"2005-07-20
        06:15:36","institutionCode":"GoMA","collectionCode":"Platts Bank Aerial Survey","catalogNumber":"4690.00","individualCount":1.0,"datasetName":"Aerial
        survey of upper trophic level predators on PLatts Bank, Gulf of Maine","phylum":"Chordata","order":"Tetraodontiformes","family":"Molidae","genus":"Mola","scientificName":"Mola
        mola","originalScientificName":"Mola mola","scientificNameAuthorship":"(Linnaeus,
        1758)","obisID":472375,"resourceID":267,"yearcollected":2005,"species":"Mola
        mola","qc":1073217151,"aphiaID":127405,"speciesID":472375,"scientificNameID":"urn:lsid:marinespecies.org:taxname:127405","class":"Actinopterygii"}]}'
  recorded_at: 2019-01-28 18:55:31 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://biocache.ala.org.au/ws/occurrences/search?q=taxon_name%3A%22Macropus%22&facet=off&pageSize=3&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"pageSize":3,"startIndex":0,"totalRecords":737,"sort":"score","dir":"asc","status":"OK","occurrences":[{"uuid":"90301c0a-57c6-4e54-9164-7a719d990844","dataHubUid":["dh8"],"institutionUid":"in4","raw_institutionCode":"AM","institutionName":"Australian
        Museum","collectionUid":"co136","raw_collectionCode":"Palaeontology","collectionName":"Australian
        Museum Palaeontology Collection","raw_catalogNumber":"DAVO-3192","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1","scientificName":"Macropus","taxonRank":"genus","taxonRankID":6000,"country":"Australia","kingdom":"Animalia","phylum":"Chordata","classs":"Mammalia","order":"Diprotodontia","family":"Macropodidae","genus":"Macropus","genusGuid":"urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1","stateProvince":"New
        South Wales","decimalLatitude":-36.5,"decimalLongitude":149.4,"coordinateUncertaintyInMeters":1200.0,"basisOfRecord":"FossilSpecimen","left":104190,"right":104204,"lga":"Cooma-Monaro
        (A)","dataResourceUid":"dr2289","dataResourceName":"Database of Australasian
        Vertebrate Occurrences","assertions":["invalidCollectionDate","incompleteCollectionDate","coordinatePrecisionMismatch","countryInferredByCoordinates"],"speciesGroups":["Animals","Mammals"],"geospatialKosher":"true","taxonomicKosher":"true","raw_basisOfRecord":"FossilSpecimen","latLong":"-36.5,149.4","point1":"-37,149","point01":"-36.5,149.4","point001":"-36.5,149.4","point0001":"-36.5,149.4","point00001":"-36.5,149.4","namesLsid":"Macropus|urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1||Animalia|Macropodidae","license":"CC-BY","miscStringProperties":{"identification_qualifier_s":"Not
        provided","occurrence_status_s":"present"}},{"uuid":"effb3caf-d3ad-44cd-9b00-4510c958a574","occurrenceID":"urn:lsid:ozcam.taxonomy.org.au:ANWC:Mammals:M11255","dataHubUid":["dh1"],"institutionUid":"in6","raw_institutionCode":"ANWC","institutionName":"Commonwealth
        Scientific and Industrial Research Organisation","collectionUid":"co16","raw_collectionCode":"Mammals","collectionName":"Australian
        National Wildlife Collection","raw_catalogNumber":"M11255","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1","eventDate":320371200000,"occurrenceYear":315493200000,"scientificName":"Macropus","taxonRank":"genus","taxonRankID":6000,"country":"Australia","kingdom":"Animalia","phylum":"Chordata","classs":"Mammalia","order":"Diprotodontia","family":"Macropodidae","genus":"Macropus","genusGuid":"urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1","year":1980,"month":"02","basisOfRecord":"PreservedSpecimen","raw_locationRemarks":"location
        refers to captive","left":104190,"right":104204,"dataProviderUid":"dp20","dataProviderName":"OZCAM
        (Online Zoological Collections of Australian Museums) Provider","dataResourceUid":"dr341","dataResourceName":"Australian
        National Wildlife Collection provider for OZCAM","speciesGroups":["Animals","Mammals"],"taxonomicKosher":"true","raw_scientificName":"Macropus
        hybrid","raw_basisOfRecord":"PreservedSpecimen","raw_vernacularName":"Macropus
        hybrid","namesLsid":"Macropus|urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-648f-47e6-8544-2c2fbdf632b1||Animalia|Macropodidae","license":"CC-BY","recordNumber":"G386","miscStringProperties":{"identification_qualifier_s":"Not
        provided","occurrence_status_s":"present"},"miscIntProperties":{"occurrence_decade_i":1980}},{"uuid":"5016b56a-db87-4c17-9e19-c57d1d082dfa","occurrenceID":"urn:lsid:ozcam.taxonomy.org.au:ANWC:Mammals:M11350","dataHubUid":["dh1"],"institutionUid":"in6","raw_institutionCode":"ANWC","institutionName":"Commonwealth
        Scientific and Industrial Research Organisation","collectionUid":"co16","raw_collectionCode":"Mammals","collectionName":"Australian
        National Wildlife Collection","raw_catalogNumber":"M11350","taxonConceptID":"urn:lsid:biodiversity.org.au:afd.taxon:b1d9bf29-[...]
