http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=10&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.0.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":964225,"results":[{"key":2542966593,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-02-06T10:47:04.361+0000","lastParsed":"2020-02-06T12:29:45.970+0000","crawlId":199,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2020-01-02T17:01:32","decimalLongitude":-106.528408,"decimalLatitude":35.097667,"coordinateUncertaintyInMeters":244.0,"stateProvince":"New
        Mexico","year":2020,"month":1,"day":2,"eventDate":"2020-01-02T08:24:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2020-01-08T14:35:16.000+0000","lastInterpreted":"2020-02-06T12:29:45.970+0000","references":"https://www.inaturalist.org/observations/37196628","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/58928421/original.jpg?1577984484","references":"https://www.inaturalist.org/photos/58928421","created":"2020-01-02T08:24:19.000+0000","creator":"damsel50","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"damsel50"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"damsel50","identifier":"37196628","http://unknown.org/nick":"damsel50","verbatimEventDate":"2020/01/02
        8:24 AM MST","datasetName":"iNaturalist research-grade observations","gbifID":"2542966593","collectionCode":"Observations","verbatimLocality":"Jackson
        Area, Albuquerque, NM 87112, USA","occurrenceID":"https://www.inaturalist.org/observations/37196628","taxonID":"5097","catalogNumber":"37196628","recordedBy":"damsel50","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/37196628","institutionCode":"iNaturalist","rights":"©
        damsel50 some rights reserved","eventTime":"15:24:00Z","identificationID":"82340724"},{"key":2543084396,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-02-06T10:47:04.361+0000","lastParsed":"2020-02-06T12:29:10.195+0000","crawlId":199,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":287[...]
