http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=10&offset=0&scientificName=Pinus%20contorta
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":10349,"results":[{"key":1986593119,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:03.277+0000","lastParsed":"2019-01-13T23:38:58.977+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":7230686,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"acceptedTaxonKey":7230686,"scientificName":"Pinus
        contorta var. contorta","acceptedScientificName":"Pinus contorta var. contorta","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","genericName":"Pinus","specificEpithet":"contorta","infraspecificEpithet":"contorta","taxonRank":"VARIETY","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-06T03:20:07","decimalLongitude":-122.650306,"decimalLatitude":49.347542,"coordinateUncertaintyInMeters":10.0,"stateProvince":"British
        Columbia","year":2019,"month":1,"day":5,"eventDate":"2019-01-05T10:17:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-06T05:16:17.000+0000","lastInterpreted":"2019-01-13T23:39:16.307+0000","references":"https://www.inaturalist.org/observations/19456850","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29934777/original.jpg?1546744121","references":"https://www.inaturalist.org/photos/29934777","created":"2019-01-05T18:17:32.000+0000","creator":"John
        D Reynolds","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"John
        D Reynolds"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Pinopsida","countryCode":"CA","country":"Canada","rightsHolder":"John
        D Reynolds","identifier":"19456850","verbatimEventDate":"2019/01/05 10:17
        AM PST","datasetName":"iNaturalist research-grade observations","gbifID":"1986593119","verbatimLocality":"Coquitlam,
        BC, Canada","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19456850","taxonID":"80130","catalogNumber":"19456850","recordedBy":"John
        D Reynolds","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19456850","institutionCode":"iNaturalist","rights":"©
        John D Reynolds some rights reserved","eventTime":"18:17:00Z","identificationID":"42617786"},{"key":1802781699,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:17.300+0000","lastParsed":"2018-10-08T17:06:37.145+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":5285750,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":6[...]
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=ITISscientificName%3A%22Pinus%20contorta%22&wt=json&rows=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"ITISscientificName:\"Pinus contorta\"","rows":"10","wt":"json"}},"response":{"numFound":309111,"start":0,"docs":[{"providedScientificName":"Pinus contorta Douglas ex Loudon","countryCode":"US","providedCounty":"Esmeralda","ambiguous":false,"latlon":"-117.6323824,37.7789658","computedCountyFips":"32009","occurrenceID":"63007780","decimalLongitude":-117.632385,"basisOfRecord":"specimen","collectionID":"http://plants.usda.gov/java/citePlants","ownerInstitutionCollectionCode":"USDA - PLANTS Database","scientificName":"Pinus contorta","institutionID":"https://bison.usgs.gov","computedStateFips":"32","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["183327"],"providerID":440,"stateProvince":"Nevada","higherGeographyID":"32009","decimalLatitude":37.778965,"geo":"-117.6323824 37.7789658","provider":"BISON","calculatedCounty":"Esmeralda","ITISscientificName":"Pinus contorta","pointPath":"/-117.6323824,37.7789658/specimen","kingdom":"Plantae","calculatedState":"Nevada","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-500009-954916-500028-18030-18035-183327-","ITIScommonName":"lodgepole pine;scrub pine;shore pine;tamarack pine","resourceID":"440,1066","ITIStsn":"183327","_version_":1592410706269962246},{"eventDate":"1999-06-05T02:00Z","providedScientificName":"Pinus contorta Douglas ex Loudon","year":1999,"countryCode":"US","providedCounty":"","calculatedWaterbody":"Alaska EEZ","ambiguous":false,"verbatimLocality":"Kodiak Archipelago, Kodiak I., Olga Bay, Cannery Cove, Olga Bay Cannery","latlon":"-154.225,57.15833","computedCountyFips":"02150","occurrenceID":"63018924","decimalLongitude":-154.225,"basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://www.uaf.edu/museum/collections/herb/","ownerInstitutionCollectionCode":"UAM Herbarium (ALA), Vascular Plant Collection (Arctos)","scientificName":"Pinus contorta","institutionID":"http://www.uaf.edu/museum/","computedStateFips":"02","license":"CC_BY_4_0","TSNs":["183327"],"providerID":522,"stateProvince":"Alaska","higherGeographyID":"","verbatimEventDate":"05-Jun-1999","decimalLatitude":57.15833,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"Collector(s): Franzi Koenig","geo":"-154.225 57.15833","provider":"University of Alaska Museum of the North","calculatedCounty":"Kodiak Island","calculatedMrgid":8463,"verbatimDepth":"","catalogNumber":"142373","ITISscientificName":"Pinus contorta","coordinateUncertaintyInMeters":"","pointPath":"/-154.225,57.15833/specimen","kingdom":"Plantae","calculatedState":"Alaska","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-500009-954916-500028-18030-18035-183327-","collectorNumber":"","ITIScommonName":"lodgepole pine;scrub pine;shore pine;tamarack pine","resourceID":"522,202047","ITIStsn":"183327","_version_":1592410707488407558},{"eventDate":"1966-06-12T01:00Z","providedScientificName":"Pinus contorta Douglas ex Loudon","year":1966,"countryCode":"US","providedCounty":"","calculatedWaterbody":"Alaska EEZ","ambiguous":false,"verbatimLocality":"Yakutat Forelands, Situk R. 16 km E of Yakutat along road, 18 km E of Yakutat, 1.6 km E of Situk R.","latlon":"-139.66,59.58","compu[...]
- request:
    method: get
    uri: http://api.vertnet-portal.appspot.com/api/search?q=%7B%22q%22%3A%22Pinus%20contorta%22%2C%22l%22%3A10%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      charset: utf-8
      x-cloud-trace-context: 53ca1eb540a4e1445a0d56f7f93daa23
    body:
      encoding: UTF-8
      string: '{"request_date": "2019-01-28T19:36:21.033708", "response_records":
        10, "submitted_query": "Pinus contorta", "request_origin": "45.512231,-122.658718",
        "limit": 10, "cursor": "False:CowHCsUECpgE9wAAABj_____jIGJmo2LkZqL0o-QjYuek96WkZuah9LNz87M0s_H0s_H_wAA_3RtoKCZi4ygoP8AAP9dno-PmpGYlpGa_wAA_3N0bZaRm5qH_wAA_12biJz_AAD_c3Rtm5CcoJab_wAA_12SiYXQnZaNm9KMj5qclpKakYzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSkomF0p2WjZvSzsbOzsjP0oyalpvSy87PyMzHz_8AAP9zf5KJhdCdlo2b0oyPmpyWkpqRjNCXi4uP0p6NnIuQjNKbnouenZ6MmtKSioyaipLSmIqWm9KSiYXSnZaNm9LOxs7OyM_SjJqWm9LLzs_IzMfP_wAA__8A_v_-jIGJmo2LkZqL0o-QjYuek96WkZuah9LNz87M0s_H0s_H_wB0baCgmYuMoKD_AF2ej4-akZiWkZr_AHN0bZaRm5qH_wBdm4ic_wBzdG2bkJyglpv_AF2SiYXQnZaNm9KMj5qclpKakYzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSkomF0p2WjZvSzsbOzsjP0oyalpvSy87PyMzHz_8Ac3-SiYXQnZaNm9KMj5qclpKakYzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSkomF0p2WjZvSzsbOzsjP0oyalpvSy87PyMzHz_8A__4QCiHbXi_RmyTUyTkAAAAA5____0gFUABaCwkJrDvfcZ_xhxACYN7kli4SDURvY3VtZW50SW5kZXgakAIoQU5EIChJUyAiY3VzdG9tZXJfbmFtZSIgImFwcGVuZ2luZSIpIChJUyAiZ3JvdXBfbmFtZSIgInN-dmVydG5ldC1wb3J0YWwiKSAoSVMgIm5hbWVzcGFjZSIgImluZGV4LTIwMTMtMDgtMDgiKSAoSVMgImluZGV4X25hbWUiICJkd2MiKSAoT1IgKEFORCAoT1IgKFFUICJQaW51cyIpIChJUyAiX19nYXRvbV9fIiAicGludXMiKSkgKE9SIChRVCAiY29udG9ydGEiKSAoSVMgIl9fZ2F0b21fXyIgImNvbnRvcnRhIikpKSAoSVMgIl9fZ2F0b21fXyIgInBpbnVzIGNvbnRvcnRhIikpKToZCgwoTiBvcmRlcl9pZCkQARkAAAAAAADw_0oFCABA6Ac",
        "query_version": "search.py 2016-08-15T16:43+02:00", "recs": [{"haslifestage":
        "1", "month": "07", "decimallongitude": "-118.841484", "isarch": "0", "startdayofyear":
        "190", "networks": "Arctos,ORNIS,VertNet", "vntype": "specimen", "title":
        "MVZ Bird Collection (Arctos)", "accessrights": "http://www.vertnet.org/resources/norms.html",
        "kingdom": "Animalia", "verbatimcoordinatesystem": "decimal degrees", "dctype":
        "PhysicalObject", "iptrecordid": "http://arctos.database.museum/guid/MVZ:Bird:150791?seid=1614571",
        "day": "09", "identificationverificationstatus": "legacy", "occurrenceid":
        "http://arctos.database.museum/guid/MVZ:Bird:150791?seid=1614571", "identificationqualifier":
        "A", "georeferenceddate": "2001-03-19", "verbatimeventdate": "9 Jul 1963",
        "coordinateuncertaintyinmeters": "1610", "higherclassification": "Animalia;
        Chordata; Aves; Strigiformes; Strigidae;", "pubdate": "2018-10-31", "lifestage":
        "u ad.", "modified": "2018-09-18 15:54:43.0", "year": "1963", "wasinvasive":
        "0", "specificepithet": "acadicus", "basisofrecord": "PreservedSpecimen",
        "geodeticdatum": "North American Datum 1927", "occurrenceremarks": "COLLECTED
        11:30 P.M.; FROM PINUS CONTORTA. MOUSE REMAINS IN STOMACH.", "highergeography":
        "North America, United States, California, Mono County", "continent": "North
        America", "email": "ccicero@berkeley.edu", "orgcountry": "United States",
        "source_url": "http://ipt.vertnet.org:8080/ipt/resource.do?r=mvz_bird", "scientificname":
        "Aegolius acadicus acadicus", "hashid": "3463", "hassex": "1", "catalognumber":
        "150791", "language": "en", "institutionid": "urn:lsid:biocol.org:col:34777",
        "country": "United States", "hastissue": "0", "underivedsex": "male", "genus":
        "Aegolius", "georeferenceprotocol": "not recorded", "family": "Strigidae",
        "stateprovince": "California", "rank": 12, "county": "Mono County", "phylum":
        "Chordata", "references": "http://arctos.database.museum/guid/MVZ:Bird:150791",
        "georeferencedby": "Matt Krebs", "taxonrank": "subspecies", "hasmedia": "0",
        "verbatimlocality": "Crooked Meadow, Inyo National Forest", "institutioncode":
        "MVZ", "orgstateprovince": "California", "organismid": "http://arctos.database.museum/guid/MVZ:Bird:150791",
        "hastypestatus": "0", "preparations": "skin, study", "recordedby": "Collector(s):
        Steven G. Herman", "sex": "male", "isfossil": "0", "license": "http://creativecommons.org/publicdomain/zero/1.0/",
        "dynamicproperties": "sex=male ; reproductive data=testes 11x7mm; 10x6mm;
        pale pink ; age=u ad. ; stomach contents=contents recorded", "georeferenceverificationstatus":
        "unverified", "infraspecificepithet": "acadicus", "haslicense": "1", "eventdate":
        "1963-07-09", "haslength": "0", "individualcount": "1", "bibliographiccitation":
        "Museum of Vertebrate Zoology, UC Berkeley. MVZ Bird Collection (Arctos).
        Record ID: http://arctos.database.museum/guid/MVZ:Bird:150791?seid=1614571.
        Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=mvz_bird (source published
        on 2018-10-31)", "citation": "Museum of Vertebrate Zoology, UC Berkeley. MVZ
        Bird Collection (Arctos). Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=mvz_bird
        (source published on 2018-10-31)", "georeferencesources": "TopoScout 2.04
        USGS 1:24000", "lastindexed": "2018-11-05", "dateidentified": "1999-01-27",
        "wascaptive": "0", "emlrights": "http://creativecommons.org/publicdomain/zero/1.0
        and http://vertnet.org/resources/norms.html", "hasmass": "0", "gbifdatasetid":
        "e3b959d6-fcbe-4a28-a166-e4a807c340a0", "locality": "Crooked Meadow, Inyo
        National Forest", "orgname": "Museum of Vertebrate Zoology, UC Berkeley",
        "contact": "Carla Cicero", "migrator": "no migrator", "collectioncode": "Bird
        specimens", "collectionid": "urn:lsid:biocol.org:col:34952", "icode": "MVZ",
        "gbifpublisherid": "8edbbde0-055e-11d8-b850-b8a03c50a862", "class": "Aves",
        "previousidentifications": "<i>Aegolius acadicus acadicus</i> (accepted ID)
        identified by Museum of Vertebrate Zoology, University of California, Berkeley
        on 1999-01-27; method: legacy", "decimallatitude": "37.823624", "mappable":
        "1", "locationaccordingto": "Matt Krebs", "verbatimcoordinates": "37.823624/-118.841484",
        "identifiedby": "Museum of Vertebrate Zoology, University of California, Berkeley",
        "nomenclaturalcode": "ICZN", "keyname": "mvz/bird-specimens/http-arctos-database-museum-guid-mvz-bird-150791-seid-1614571",
        "order": "Strigiformes", "enddayofyear": "190"}, {"haslifestage": "1", "month":
        "06", "decimallongitude": "-118.33772", "isarch": "0", "startdayofyear": "178",
        "minimumelevationinmeters": "2377.44", "networks": "Arctos,ORNIS,VertNet",
        "vntype": "specimen", "title": "MVZ Bird Collection (Arctos)", "massing":
        "107", "accessrights": "http://www.vertnet.org/resources/norms.html", "kingdom":
        "Animalia", "verbatimcoordinatesystem": "decimal degrees", "dctype": "PhysicalObject",
        "iptrecordid": "http://arctos.database.museum/guid/MVZ:Bird:191167?seid=4107377",
        "day": "27", "keyname": "mvz/bird-specimens/http-arctos-database-museum-guid-mvz-bird-191167-seid-4107377",
        "identificationverificationstatus": "geographic distribution", "occurrenceid":
        "http://arctos[...]
