http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=10&offset=0&scientificName=Pinus%20contorta
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rgbif/2.0.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":11469,"results":[{"key":2543085192,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-02-06T10:47:04.361+0000","lastParsed":"2020-02-06T12:27:31.156+0000","crawlId":199,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":5285750,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"acceptedTaxonKey":5285750,"scientificName":"Pinus
        contorta Douglas ex Loudon","acceptedScientificName":"Pinus contorta Douglas
        ex Loudon","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","genericName":"Pinus","specificEpithet":"contorta","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2020-01-01T20:29:27","decimalLongitude":-115.363791,"decimalLatitude":50.919212,"coordinateUncertaintyInMeters":31250.0,"stateProvince":"Alberta","year":2020,"month":1,"day":1,"eventDate":"2020-01-01T16:16:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2020-01-01T20:44:00.000+0000","lastInterpreted":"2020-02-06T12:27:31.156+0000","references":"https://www.inaturalist.org/observations/37168319","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/58876926/original.jpeg?1577910490","references":"https://www.inaturalist.org/photos/58876926","created":"2020-01-01T16:16:01.000+0000","creator":"Jameson
        Nagle","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Jameson
        Nagle"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/58876899/original.jpeg?1577910468","references":"https://www.inaturalist.org/photos/58876899","created":"2020-01-01T16:15:40.000+0000","creator":"Jameson
        Nagle","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Jameson
        Nagle"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.or[...]
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=ITISscientificName%3A%22Pinus%20contorta%22&wt=json&rows=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"ITISscientificName:\"Pinus contorta\"","rows":"10","wt":"json"}},"response":{"numFound":309458,"start":0,"docs":[{"providedScientificName":"Pinus contorta Douglas ex Loudon","countryCode":"US","providedCounty":"Yakutat","ambiguous":false,"latlon":"-140.1496899,60.0071169","computedCountyFips":"02282","occurrenceID":"2062861379","decimalLongitude":-140.14969,"basisOfRecord":"specimen","collectionID":"http://plants.usda.gov/java/citePlants","ownerInstitutionCollectionCode":"USDA - PLANTS Database","scientificName":"Pinus contorta","institutionID":"https://bison.usgs.gov","computedStateFips":"02","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["183327"],"providerID":440,"stateProvince":"Alaska","higherGeographyID":"02282","decimalLatitude":60.00712,"geo":"-140.1496899 60.0071169","provider":"BISON","calculatedCounty":"Yakutat","ITISscientificName":"Pinus contorta","pointPath":"/-140.1496899,60.0071169/specimen","kingdom":"Plantae","calculatedState":"Alaska","hierarchy_homonym_string":"-202422-954898-846494-954900-846496-846504-500009-954916-500028-18030-18035-183327-","ITIScommonName":"lodgepole pine;scrub pine;shore pine;tamarack pine","resourceID":"440,1066","ITIStsn":"183327","_version_":1637973441001816064},{"providedScientificName":"Pinus contorta Douglas ex Loudon","countryCode":"US","providedCounty":"Lane","ambiguous":false,"latlon":"-122.8976779,43.9282763","computedCountyFips":"41039","occurrenceID":"2064772855","decimalLongitude":-122.897675,"basisOfRecord":"specimen","collectionID":"http://plants.usda.gov/java/citePlants","ownerInstitutionCollectionCode":"USDA - PLANTS Database","scientificName":"Pinus contorta","institutionID":"https://bison.usgs.gov","computedStateFips[...]
- request:
    method: get
    uri: http://api.vertnet-portal.appspot.com/api/search?q=%7B%22q%22%3A%22%22%2C%22l%22%3A10%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      charset: utf-8
      x-cloud-trace-context: bc6349c7644e6301501559db41942637;o=1
    body:
      encoding: UTF-8
      file: no
      string: '{"request_date": "2020-02-08T15:08:21.253346", "response_records":
        10, "submitted_query": "", "request_origin": "45.505106,-122.675026", "limit":
        10, "cursor": "False:CpcFCtIDCqQD9wAAABn_____jIGJmo2LkZqL0o-QjYuek96WkZuah9LNz87M0s_H0s_H_wAA_3RtoKCZi4ygoP8AAP9dno-PmpGYlpGa_wAA_3N0bZaRm5qH_wAA_12biJz_AAD_c3Rtm5CcoJab_wAA_12ektCXmo2PmouQk5CYhtDPz8_GyMiZyNLOy8fH0svHmszSnpzHytKdxsbOz8qczMmemc3_AAD_c3-ektCXmo2PmouQk5CYhtDPz8_GyMiZyNLOy8fH0svHmszSnpzHytKdxsbOz8qczMmemc3_AAD__wD-__6MgYmajYuRmovSj5CNi56T3paRm5qH0s3PzszSz8fSz8f_AHRtoKCZi4ygoP8AXZ6Pj5qRmJaRmv8Ac3RtlpGbmof_AF2biJz_AHN0bZuQnKCWm_8AXZ6S0JeajY-ai5CTkJiG0M_Pz8bIyJnI0s7Lx8fSy8eazNKenMfK0p3Gxs7PypzMyZ6Zzf8Ac3-ektCXmo2PmouQk5CYhtDPz8_GyMiZyNLOy8fH0svHmszSnpzHytKdxsbOz8qczMmemc3_AP_-EAohBN0EkB08Gxk5AAAAAOb___9IClAAWgsJLDyfxiJ5Z0oQA2Dv3fDWAhINRG9jdW1lbnRJbmRleBqOAShBTkQgKElTICJjdXN0b21lcl9uYW1lIiAiYXBwZW5naW5lIikgKElTICJncm91cF9uYW1lIiAic352ZXJ0bmV0LXBvcnRhbCIpIChJUyAibmFtZXNwYWNlIiAiaW5kZXgtMjAxMy0wOC0wOCIpIChJUyAiaW5kZXhfbmFtZSIgImR3YyIpIChUUlVFKSk6GQoMKE4gb3JkZXJfaWQpEAEZAAAAAAAA8P9KBQgAQOgH",
        "query_version": "search.py 2016-08-15T16:43+02:00", "recs": [{"haslifestage":
        "0", "kingdom": "Animalia", "recordedby": "Parmenter & Webb", "higherclassification":
        "Animalia | Chordata |  |  | Myobatrachidae | Limnodynastes", "pubdate": "2015-01-07",
        "wasinvasive": "0", "stateprovince": "New South Wales", "hastypestatus": "0",
        "basisofrecord": "PreservedSpecimen", "rank": 12, "month": "2", "decimallongitude":
        "151.86361", "phylum": "Chordata", "references": "http://portal.vertnet.org/o/am/herpetology?id=0000004c-b04e-4a52-aed4-a5c90e2dbe38",
        "haslength": "0", "year": "1973", "startdayofyear": "42", "wascaptive": "0",
        "taxonrank": "species", "specificepithet": "tasmaniensis", "networks": "MaNIS,ORNIS,HerpNET,VertNet,OZCAM",
        "emlrights": "http://creativecommons.org/licenses/by/3.0/au/", "bibliographiccitation":
        "Australian Museum. Australian Museum provider for OZCAM. Record ID: 0000004c-b04e-4a52-aed4-a5c90e2dbe38.
        Source: http://collections.ala.org.au/public/show/dr340 (source published
        on 2015-01-07)", "vntype": "specimen", "family": "Myobatrachidae", "countrycode":
        "AU", "title": "Australian Museum provider for OZCAM", "orgname": "Australian
        Museum", "hasmedia": "0", "geodeticdatum": "not recorded (forced WGS84)",
        "coordinateuncertaintyinmeters": "10000", "orgstateprovince": "New South Wales",
        "highergeography": "| Australia | New South Wales |  |  |  |  |", "accessrights":
        "http://vertnet.org/resources/norms.html", "hassex": "0", "contact": "OZCAM
        Webmaster", "verbatimlocality": "Australia | New South Wales", "migrator":
        "2015-01-05", "verbatimeventdate": "1973-02-11", "hasmass": "0", "email":
        "OZCAM.CHAFC@gmail.com", "day": "11", "eventid": "urn:australianmuseum.net.au:Events:2021531",
        "citation": "Australian Museum. Australian Museum provider for OZCAM. Source:
        http://collections.ala.org.au/public/show/dr340 (source published on 2015-01-07)",
        "occurrencestatus": "present", "locationremarks": "\"ecatalogue.LocCollectionEventLocal:
        \"Australia, New South Wales, 12 miles West of Tenterfield (29\u00b0 01''
        46\" S, 151\u00b0 51'' 49\" E) 11/02/1973 - 11/02/1973, Parmenter & Webb(Collector),
        Field Collected - Terrestrial\";\"", "coordinateprecision": "0.00001", "orgcountry":
        "Australia", "source_url": "http://collections.ala.org.au/public/show/dr340",
        "institutioncode": "AM", "dctype": "PhysicalObject", "iptrecordid": "0000004c-b04e-4a52-aed4-a5c90e2dbe38",
        "icode": "AM", "scientificname": "Limnodynastes tasmaniensis", "gbifpublisherid":
        "770c30d2-c2a8-4bb2-8056-6167297cddae", "hashid": "2572", "haslicense": "1",
        "class": "Amphibia", "vernacularname": "Spotted Grass Frog", "isfossil": "0",
        "decimallatitude": "-29.02943", "occurrenceid": "0000004c-b04e-4a52-aed4-a5c90e2dbe38",
        "language": "en", "license": "CCBY", "country": "Australia", "mappable": "1",
        "georeferenceverificationstatus": "requires verification", "collectioncode":
        "Herpetology", "modified": "2015-01-07", "eventdate": "1973-02-11", "identifiedby":
        "Sadlier, Dr Ross Allen - Australian Museum - Herpetology", "nomenclaturalcode":
        "ICZN", "keyname": "am/herpetology/0000004c-b04e-4a52-aed4-a5c90e2dbe38",
        "hastissue": "0", "continent": "Australasia", "dateidentified": "2000", "lastindexed":
        "2016-07-22", "genus": "Limnodynastes", "gbifdatasetid": "dce8feb0-6c89-11de-8225-b8a03c50a862",
        "order": "Anura", "catalognumber": "R.36833", "enddayofyear": "42"}, {"haslifestage":
        "0", "kingdom": "Animalia", "recordedby": "Whaley, R", "higherclassification":
        "Animalia | Chordata |  |  | Elapidae | Furina", "pubdate": "2015-01-07",
        "wasinvasive": "0", "stateprovince": "New South Wales", "hastypestatus": "0",
        "basisofrecord": "PreservedSpecimen", "rank": 12, "month": "7", "decimallongitude":
        "150.7", "phylum": "Chordata", "references": "http://portal.vertnet.org/o/am/herpetology?id=0000ccff-be0f-4ea0-8d8a-b382[...]
