http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=10&offset=0&scientificName=Pinus+contorta
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '15'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":46418,"results":[{"key":5003560353,"datasetKey":"b124e1e0-4755-430f-9eab-894f25a9b59c","publishingOrgKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","installationKey":"7bdf9f6d-317a-45ec-8bb7-7ff61345d6a6","hostingOrganizationKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","publishingCountry":"NO","protocol":"EML","lastCrawled":"2025-10-16T06:22:17.665+00:00","lastParsed":"2025-11-07T13:47:01.801+00:00","crawlId":446,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"4J24Y","name":"Pinus
        contorta Douglas ex Loudon","rank":"SPECIES","code":"BOTANICAL","authorship":"Douglas
        ex Loudon","genericName":"Pinus","specificEpithet":"contorta","formattedName":"<i>Pinus</i>
        <i>contorta</i> Douglas ex Loudon"},"acceptedUsage":{"key":"4J24Y","name":"Pinus
        contorta Douglas ex Loudon","rank":"SPECIES","code":"BOTANICAL","authorship":"Douglas
        ex Loudon","genericName":"Pinus","specificEpithet":"contorta","formattedName":"<i>Pinus</i>
        <i>contorta</i> Douglas ex Loudon"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"CMQ8S","name":"Pteridobiotina","rank":"SUBKINGDOM"},{"key":"TP","name":"Tracheophyta","rank":"PHYLUM"},{"key":"C7ZVJ","name":"Pinopsida","rank":"CLASS"},{"key":"C84L5","name":"Pinidae","rank":"SUBCLASS"},{"key":"C7ZVH","name":"Pinales","rank":"ORDER"},{"key":"C7ZVG","name":"Pinaceae","rank":"FAMILY"},{"key":"C84WJ","name":"Pinus","rank":"GENUS"},{"key":"4J24Y","name":"Pinus
        contorta","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":[]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"5285750","name":"Pinus
        contorta Douglas ex Loudon","rank":"SPECIES","authorship":"Douglas ex Loudon","genericName":"Pinus","specificEpithet":"contorta","formattedName":"<i>Pinus</i>
        <i>contorta</i> Douglas ex Loudon"},"acceptedUsage":{"key":"5285750","name":"Pinus
        contorta Douglas ex Loudon","rank":"SPECIES","authorship":"Douglas ex Loudon","genericName":"Pinus","specificEpithet":"contorta","formattedName":"<i>Pinus</i>
        <i>contorta</i> Douglas ex Loudon"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"194","name":"Pinopsida","rank":"CLASS"},{"key":"640","name":"Pinales","rank":"ORDER"},{"key":"3925","name":"Pinaceae","rank":"FAMILY"},{"key":"2684241","name":"Pinus","rank":"GENUS"},{"key":"5285750","name":"Pinus
        contorta","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":[]}},"taxonKey":5285750,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"acceptedTaxonKey":5285750,"scientificName":"Pinus
        contorta Douglas ex Loudon","scientificNameAuthorship":"Douglas ex Loudon","acceptedScientificName":"Pinus
        contorta Douglas ex Loudon","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","genericName":"Pinus","specificEpithet":"contorta","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","decimalLatitude":62.483004,"decimalLongitude":11.094643,"coordinateUncertaintyInMeters":25.0,"continent":"EUROPE","stateProvince":"Innlandet","gadm":{"level0":{"gid":"NOR","name":"Norway"},"level1":{"gid":"NOR.6_1","name":"Hedmark"},"level2":{"gid":"NOR.6.13_1","name":"Os"}},"year":2025,"month":1,"day":4,"eventDate":"2025-01-04","startDayOfYear":4,"endDayOfYear":4,"issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84","CONTINENT_DERIVED_FROM_COORDINATES"],"modified":"2025-01-04T14:18:43.000+00:00","lastInterpreted":"2025-11-07T13:47:01.801+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"urn:uuid:3efd0d68-5afd-456d-bab2-ca0f607aad62"}],"media":[],"facts":[],"relations":[],"isInCluster":false,"recordedBy":"Trond
        Simensen","dnaSequenceID":[],"geodeticDatum":"WGS84","class":"Pinopsida","countryCode":"NO","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"Norway","publishedByGbifRegion":"EUROPE","identifier":"urn:uuid:3efd0d68-5afd-456d-bab2-ca0f607aad62","catalogNumber":"36360890","institutionCode":"nbf","locationID":"2771974","associatedReferences":"https://mobil.artsobservasjoner.no/sighting/36360890","locality":"Klettvollen,
        Os, In","county":"Innlandet","municipality":"Os","collectionCode":"so2-vascular","gbifID":"5003560353","occurrenceID":"urn:uuid:3efd0d68-5afd-456d-bab2-ca0f607aad62"},{"key":5004694090,"datasetKey":"38b4c89f-584c-41bb-bd8f-cd1def33e92f","publishingOrgKey":"b8323864-602a-4a7d-9127-bb903054e97d","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"4346b227-ca68-4d54-8a77-909148492e0b","hostingOrganizationKey":"4c415e40-1e21-11de-9e40-a0d6ecebb8bf","publishingCountry":"SE","protocol":"EML","lastCrawled":"2025-11-29T08:01:44.379+00:00","lastParsed":"2025-11-29T15:53:20.129+00:00","crawlId":573,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"4J24Y","name":"Pinus
        contor[...]
