http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=10&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":737439,"results":[{"key":1986597531,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.188+0000","lastParsed":"2019-01-13T23:39:01.074+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-07T12:18:42","decimalLongitude":-75.995461,"decimalLatitude":41.163283,"coordinateUncertaintyInMeters":15.0,"stateProvince":"Pennsylvania","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T12:50:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-07T12:18:42.000+0000","lastInterpreted":"2019-01-13T23:39:18.595+0000","references":"https://www.inaturalist.org/observations/19470337","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956159/original.jpeg?1546797512","references":"https://www.inaturalist.org/photos/29956159","created":"2019-01-06T20:50:09.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956389/original.jpeg?1546797859","references":"https://www.inaturalist.org/photos/29956389","created":"2019-01-06T20:49:34.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"bernicez","identifier":"19470337","verbatimEventDate":"2019/01/06
        12:50 PM EST","datasetName":"iNaturalist research-grade observations","gbifID":"1986597531","verbatimLocality":"Mountain
        Top, PA 18707, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19470337","taxonID":"5097","catalogNumber":"19470337","recordedBy":"bernicez","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19470337","institutionCode":"iNaturalist","rights":"©
        bernicez some rights reserved","eventTime":"17:50:00Z","identificationID":"42703521"},{"key":1986599614,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.510+0000","lastParsed":"2019-01-13T23:39:02.007+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
