http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa%20annua&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":461,"results":[{"key":3925098444,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:04.027+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-sa/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/179351295","http://purl.org/dc/terms/rightsHolder":"Colin
        Meurk","http://rs.tdwg.org/dwc/terms/catalogNumber":"179351295","http://purl.org/dc/terms/created":"2022-02-14T17:39:01-08:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Colin
        Meurk","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/179351295/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"},{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-sa/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/179351308","http://purl.org/dc/terms/rightsHolder":"Colin
        Meurk","http://rs.tdwg.org/dwc/terms/catalogNumber":"179351308","http://purl.org/dc/terms/created":"2022-02-14T17:40:01-08:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Colin
        Meurk","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/179351308/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":2704179,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704179,"acceptedTaxonKey":2704179,"scientificName":"Poa
        annua L.","acceptedScientificName":"Poa annua L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        annua","genericName":"Poa","specificEpithet":"annua","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2022-02-14T04:40:38","decimalLongitude":172.46447,"decimalLatitude":-43.645111,"coordinateUncertaintyInMeters":8.0,"stateProvince":"Canterbury","year":2022,"month":2,"day":14,"eventDate":"2022-02-14T17:38:45","issues":["COORDINATE_ROUNDED"],"modified":"2022-10-10T08:17:45.000+00:00","lastInterpreted":"2022-11-04T16:02:04.027+00:00","references":"https://www.inaturalist.org/observations/106727028","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/179351295","created":"2022-02-15T01:39:01.000+00:00","creator":"Colin
        Meurk","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-sa/4.0/","rightsHolder":"Colin
        Meurk","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/179351295/original.jpeg"},{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/179351308","created":"2022-02-15T01:40:01.000+00:00","creator":"Colin
        Meurk","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-sa/4.0/","rightsHolder":"Colin
        Meurk","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/179351308/original.jpeg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"NZL","name":"New
        Zealand"},"level1":{"gid":"NZL.3_1","name":"Canterbury"},"level2":{"gid":"NZL.3.6_1","name":"Selwyn"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Colin Meurk","identifiedBy":"Colin
        Meurk","geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"NZ","recordedByIDs":[],"identifiedByIDs":[],"country":"New
        Zealand","rightsHolder":"Colin Meurk","identifier":"106727028","http://unknown.org/nick":"meurkc","verbatimEventDate":"2022-02-14
        17:38:45","collectionCode":"Observations","gbifID":"3925098444","verbatimLocality":"Lincoln,
        New Zealand","occurrenceID":"https://www.inaturalist.org/observations/106727028","taxonID":"52808","catalogNumber":"106727028","institutionCode":"iNaturalist","eventTime":"17:38:45+13:00","occurrenceRemarks":"Meadow
        lawn","reproductiveCondition":"flowering|fruiting","http://unknown.org/captive":"wild","identificationID":"236991040"},{"key":3925072484,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:18.392+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa%20annua&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
    [...]
