http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-120+40%2C-100+40%2C-100+45%2C-120+45%2C-120+40%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '0'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-12-06 16:06:36
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-120+40%2C-100+40%2C-100+45%2C-120+45%2C-120+40%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '6'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-12-06 16:06:36
recorded_with: VCR-vcr/2.1.0
