http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28165+-53%2C180+-53%2C180+-29%2C165+-29%2C165+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '1'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-11-28 13:32:39
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-180+-53%2C-175+-53%2C-175+-29%2C-180+-29%2C-180+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '0'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-11-28 13:32:39
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28165+-53%2C180+-53%2C180+-29%2C165+-29%2C165+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '7'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-11-28 13:32:39
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-180+-53%2C-175+-53%2C-175+-29%2C-180+-29%2C-180+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '6'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-11-28 13:32:40
recorded_with: VCR-vcr/2.0.0
