http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&geometry=POLYGON%28%28165+-53%2C180+-53%2C180+-29%2C165+-29%2C165+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '7'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":16642543,"results":[{"key":5006690478,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-11-24T19:20:31.074+00:00","lastParsed":"2025-11-25T08:50:16.738+00:00","crawlId":569,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/460810307/original.jpeg","http://purl.org/dc/terms/created":"2025-01-01T11:56:04-08:00","http://purl.org/dc/terms/creator":"lcolmer","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rightsHolder":"lcolm[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&geometry=POLYGON%28%28-180+-53%2C-175+-53%2C-175+-29%2C-180+-29%2C-180+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '7'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":367239,"results":[{"key":5007185522,"datasetKey":"50c9509d-22c7[...]
