http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":20434964,"results":[{"key":3436652800,"datasetKey":"b1047888-ae52-4179-9dd5-5448ea342a24","publishingOrgKey":"1f00d75c-f6fc-4224-a595-975e82d7689c","installationKey":"85ccfd1a-a837-48d6-9a87-96c99f6fe012","publishingCountry":"NL","protocol":"DWC_ARCHIVE","lastCrawled":"2022-10-08T01:14:31.455+00:00","lastParsed":"2022-10-08T01:31:26.193+00:00","crawlId":182,"hostingOrganizationKey":"396d5f30-dea9-11db-8ab4-b8a03c50a862","extensions":{"http://rs.tdwg.org/ac/terms/Multimedia":[{"http://ns.adobe.com/xap/1.0/rights/Owner":"Stichting
        Xeno-canto voor Natuurgeluiden","http://rs.tdwg.org/ac/terms/caption":"Sonogram
        of the first ten seconds of the sound recording","http://rs.tdwg.org/ac/terms/accessURI":"https://www.xeno-canto.org/sounds/uploaded/ZLACJSKJQF/ffts/XC695654-large.png","http://purl.org/dc/elements/1.1/creator":"Stichting
        Xeno-canto voor Natuurgeluiden","http://rs.tdwg.org/ac/terms/variantLiteral"[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&geometry=POLYGON%28%28-120%2040%2C-115%2040%2C-115%2042%2C-120%2042%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":294797,"results":[{"key":3455779508,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:02.521+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":2498167,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1108,"familyKey":2986,"genusKey":2498159,"speciesKey":2498165,"acceptedTaxonKey":2498165,"scientificName":"Anser
        caerulescens (Linnaeus, 1758)","acceptedScientificName":"Chen caerulescens
        (Linnaeus, 1758)","kingdom":"Animalia","phylum":"Chordata","order":"Anseriformes","family":"Anatidae","genus":"Chen","species":"Chen
        caerulescens","genericName":"Anser","specificEpithet":"caerulescens","taxonRank":"SPECIES","taxonomicStatus":"SYNONYM","iucnRedListCategory":"LC","dateIdentified":"2022-01-04T04:29:00","decimalLongitude":-116.941405,"decimalLatitude":40.634303,"coordinateUncertaintyInMeters":4.0,"stateProvince":"Nevada","year":2022,"month":1,"day":2,"eventDate":"2022-01-02T12:12:53","issues":["COORDINATE_ROUNDED"],"modified":"2022-01-04T14:55:57.000+00:00","lastInterpreted":"2022-11-04T16:02:02.521+00:00","references":"https://www.inaturalist.org/observations/104323691","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[],"facts":[],"relations":[],"gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.29_1","name":"Nevada"},"level2":{"gid":"USA.29.9_1","name":"Lander"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Matt Brady","identifiedBy":"Matt
        Brady","geodeticDatum":"WGS84","class":"Aves","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","rightsHolder":"Matt Brady","identifier":"104323691","http://unknown.org/nick":"cypseloides","verbatimEventDate":"Sun
        Jan 02 2022 12:12:53 GMT-0700 (MST)","collectionCode":"Observations","gbifID":"3455779508","verbatimLocality":"Weaver
        Ave, Battle Mountain, NV, US","occurrenceID":"https://www.inaturalist.org/observations/104323691","taxonID":"558426","catalogNumber":"104323691","institutionCode":"iNaturalist","eventTime":"12:12:53-07:00","http://unknown.org/captive":"wild","identificationID":"229617660"},{"key":3466188058,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:04.993+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
