http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Accipiter%20striatus&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":15712,"results":[{"key":1831194866,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:55.653+0000","lastParsed":"2018-10-08T17:08:39.808+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2018-02-21T03:42:54","decimalLongitude":-105.107485,"decimalLatitude":40.020169,"coordinateUncertaintyInMeters":28000.0,"stateProvince":"Colorado","year":2018,"month":2,"day":15,"eventDate":"2018-02-15T09:40:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-02-21T03:42:54.000+0000","lastInterpreted":"2018-12-07T05:37:48.021+0000","references":"https://www.inaturalist.org/observations/9880935","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/13543360/original.jpg?1518802095","references":"https://www.inaturalist.org/photos/13543360","created":"2018-02-15T17:40:47.000+0000","creator":"willem9","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"willem9"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"willem9","identifier":"9880935","informationWithheld":"Coordinate
        uncertainty increased to 28000m to protect threatened taxon","verbatimEventDate":"2018/02/15
        9:40 AM MST","datasetName":"iNaturalist research-grade observations","gbifID":"1831194866","verbatimLocality":"Colorado,
        US","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/9880935","taxonID":"5097","catalogNumber":"9880935","recordedBy":"willem9","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/9880935","institutionCode":"iNaturalist","rights":"©
        willem9 some rights reserved","eventTime":"16:40:00Z","identificationID":"21964514"},{"key":1831213398,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:59.756+0000","lastParsed":"2018-10-08T17:08:57.958+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
