http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&datasetKey=7b5d6a48-f762-11e1-a439-00145eb45e9a
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":177,"results":[{"key":240713157,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.843+0000","lastParsed":"2018-07-23T09:40:36.037+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":8167686,"kingdomKey":4,"phylumKey":8376456,"classKey":7882876,"orderKey":8142878,"familyKey":7747923,"genusKey":8239499,"speciesKey":8162997,"acceptedTaxonKey":8162997,"scientificName":"Rhabdammina
        cornuta (Brady, 1879)","acceptedScientificName":"Astrorhizoides cornuta (Brady,
        1879)","kingdom":"Chromista","phylum":"Foraminifera","order":"Astrorhizida","family":"Astrorhizidae","genus":"Astrorhizoides","species":"Astrorhizoides
        cornuta","genericName":"Rhabdammina","specificEpithet":"cornuta","taxonRank":"SPECIES","taxonomicStatus":"SYNONYM","decimalLongitude":163.583,"decimalLatitude":-77.5667,"issues":["GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-08T16:15:35.934+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Monothalamea","countryCode":"AQ","country":"Antarctica","identifier":"urn:catalog:BAS:CAML
        - Foraminifera:121","catalogNumber":"121","scientificNameID":"urn:lsid:marinespecies.org:taxname:113899","institutionCode":"BAS","locality":"Explorers
        Cove","datasetID":"IMIS:dasid:1775","gbifID":"240713157","collectionCode":"CAML
        - Foraminifera","occurrenceRemarks":"GenBankID: AJ307829","bibliographicCitation":"Holzmann,M.","occurrenceID":"urn:catalog:BAS:CAML
        - Foraminifera:121"},{"key":240713184,"datasetKey":"7b5d6a48-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"104e9c96-791b-4f14-978c-f581cb214912","networkKeys":["2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6"],"installationKey":"27c24cba-13c5-47d1-96a1-16abd8f11437","publishingCountry":"GB","protocol":"DWC_ARCHIVE","lastCrawled":"2018-10-03T14:25:27.822+0000","lastParsed":"2018-07-23T09:40:36.001+0000","crawlId":74,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxon[...]
[...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&extra=last_modified&georeferenced=FALSE&page_size=3&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 18:34:33 GMT
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      string: '{"count": 3663515, "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::4326"}},
        "previous": null, "type": "FeatureCollection", "next": "https://ecoengine.berkeley.edu/api/observations/?country=United+States&extra=last_modified&format=geojson&georeferenced=FALSE&page=2&page_size=3",
        "features": [{"geometry": {"type":"Point","coordinates":[-122.9451,38.6703]},
        "type": "Feature", "properties": {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:69475/",
        "record": "CAS:ORN:69475", "observation_type": "specimen", "scientific_name":
        "Bubo virginianus pacificus", "country": "United States", "state_province":
        "California", "begin_date": "1975-01-15T00:00:00", "end_date": "1975-01-15T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "Geyserville; SW of; West Dry Creek Road", "coordinate_uncertainty_in_meters":
        1000, "recorded_by": "P. Lereque", "last_modified": "2014-06-02T11:37:21.556989"}},{"geometry":
        {"type":"Point","coordinates":[-122.4441,37.7459]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:69482/",
        "record": "CAS:ORN:69482", "observation_type": "specimen", "scientific_name":
        "Passerella iliaca insularis", "country": "United States", "state_province":
        "California", "begin_date": "1975-02-16T00:00:00", "end_date": "1975-02-16T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "San Francisco; Diamond Heights; 35 Amber Drive", "coordinate_uncertainty_in_meters":
        1000, "recorded_by": "J. Hochman", "last_modified": "2014-06-02T11:37:21.724748"}},{"geometry":
        {"type":"Point","coordinates":[-120.4294,36.4699]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:69483/",
        "record": "CAS:ORN:69483", "observation_type": "specimen", "scientific_name":
        "Tyto alba pratincola", "country": "United States", "state_province": "California",
        "begin_date": "1975-12-28T00:00:00", "end_date": "1975-12-28T00:00:00", "source":
        "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource": "", "locality":
        "Fresno; vicinity; on Highway 5", "coordinate_uncertainty_in_meters": 1000,
        "recorded_by": "I. Hamilton", "last_modified": "2014-06-02T11:37:21.749494"}}]}'
  recorded_at: 2019-01-28 18:58:17 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&extra=last_modified&georeferenced=FALSE&page_size=3&page=1&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 18:34:43 GMT
      cont[...]
