http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&scientificName=Accipiter&geometry=POLYGON%28%2830.1%2010.1%2C%2010%2020%2C%2020%2060%2C%2060%2060%2C%2030.1%2010.1%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":60542,"results":[{"key":1986596180,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:03.951+0000","lastParsed":"2019-01-13T23:39:00.393+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2480637,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":2480637,"acceptedTaxonKey":2480637,"scientificName":"Accipiter
        nisus Linnaeus, 1758","acceptedScientificName":"Accipiter nisus Linnaeus,
        1758","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        nisus","genericName":"Accipiter","specificEpithet":"nisus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-06T15:14:32","decimalLongitude":37.780291,"decimalLatitude":55.782133,"coordinateUncertaintyInMeters":4.0,"stateProvince":"Moscow
        City","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T13:46:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-07T17:17:48.000+0000","lastInterpreted":"2019-01-13T23:39:17.887+0000","references":"https://www.inaturalist.org/observations/19466656","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29950614/original.jpg?1546787250","references":"https://www.inaturalist.org/photos/29950614","created":"2019-01-06T21:46:16.000+0000","creator":"Mikhail","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Mikhail"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29950834/original.jpg?1546787738","references":"https://www.inaturalist.org/photos/29950834","created":"2019-01-06T21:46:22.000+0000","creator":"Mikhail","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Mikhail"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29950837/original.jpg?1546787742","references":"https://www.inaturalist.org/photos/29950837","created":"2019-01-06T21:46:22.000+0000","creator":"Mikhail","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Mikhail"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29950839/original.jpg?1546787746","references":"https://www.inaturalist.org/photos/29950839","created":"2019-01-06T21:46:23.000+0000","creator":"Mikhail","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Mikhail"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"RU","country":"Russian
        Federation","rightsHolder":"Mikhail","identifier":"19466656","verbatimEventDate":"2019/01/06
        1:46 PM HST","datasetName":"iNaturalist research-grade observations","gbifID":"1986596180","verbatimLocality":"Восточный
        административный округ, Москва, Россия","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19466656","taxonID":"5106","catalogNumber":"19466656","recordedBy":"Mikhail","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19466656","institutionCode":"iNaturalist","rights":"©
        Mikhail some rights reserved","eventTime":"23:46:00Z","identificationID":"42639842"},{"key":1986587489,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:02.186+0000","lastParsed":"2019-01-13T23:38:55.137+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2480637,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&scientificName=Accipiter%20striatus&geometry=POLYGON%28%28-120.7%2046.8%2C-103.1%2046.4%2C-88.0%2036.9%2C-109.5%2032.6%2C-123.9%2042.3%2C-120.7%2046.8%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document f[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=3&offset=0&scientificName=Accipiter%20striatus&geometry=POLYGON%28%28-125%2038.4%2C-121.8%2038.4%2C-121.8%2040.9%2C-125%2040.9%2C-125%2038.4%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
 [...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&bbox1=-125&bbox2=38.4&bbox3=-121.8&bbox4=40.9&extra=last_modified&georeferenced=FALSE&page_size=10&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 18:32:53 GMT
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      string: '{"count": 771, "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::4326"}},
        "previous": null, "type": "FeatureCollection", "next": "https://ecoengine.berkeley.edu/api/observations/?bbox1=-125&bbox2=38.4&bbox3=-121.8&bbox4=40.9&country=United+States&extra=last_modified&format=geojson&georeferenced=FALSE&page=2&page_size=10&scientific_name=Accipiter+striatus",
        "features": [{"geometry": {"type":"Point","coordinates":[-122.9438,38.4816]},
        "type": "Feature", "properties": {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:12964/",
        "record": "CAS:ORN:12964", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1898-12-27T00:00:00", "end_date": "1898-12-27T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "unspecified", "coordinate_uncertainty_in_meters": 1000, "recorded_by":
        "H. O. Cazadero", "last_modified": "2014-06-02T11:09:55.899274"}},{"geometry":
        {"type":"Point","coordinates":[-122.4825,37.7695]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:19070/",
        "record": "CAS:ORN:19070", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1917-04-05T00:00:00", "end_date": "1917-04-05T00:00:00",
        "source": [...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter%20striatus&bbox1=-125&bbox2=38.4&bbox3=-121.8&bbox4=40.9&extra=last_modified&georeferenced=FALSE&page_size=10&page=1&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      all[...]
