http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&scientificName=Accipiter%20striatus&datasetKey=f934f8e2-32ca-46a7-b2f8-b032a4740454
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2019-01-28 18:59:25 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
