http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&geometry=POLYGON%28%28-120+40%2C-100+40%2C-100+45%2C-120+45%2C-120+40%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '8'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":32597249,"results":[{"key":5006690713,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-12-03T05:25:56.254+00:00","lastParsed":"2025-12-03T19:22:55.698+00:00","crawlId":570,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/460975308/original.jpg","http://purl.org/dc/terms/created":"2025-01-01T10:55:38-08:00","http://purl.org/dc/terms/creator":"Bryce
        Maxell","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rightsHolder":"Bryce
        Maxell","http://rs.tdwg.org/dwc/terms/catalogNumber":"460975308","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/460975308","http://purl.org/dc/terms/type":"StillImage"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"38X9R","name":"Elaeagnus
        angustifolia L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Elaeagnus","specificEpithet":"angustifolia","formattedName":"<i>Elaeagnus</i>
        <i>angustifolia</i> L."},"acceptedUsage":{"key":"38X9R","name":"Elaeagnus
        angustifolia L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Elaeagnus","specificEpithet":"angustifolia","formattedName":"<i>Elaeagnus</i>
        <i>angustifolia</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"CMQ8S","name":"Pteridobiotina","rank":"SUBKINGDOM"},{"key":"TP","name":"Tracheophyta","rank":"PHYLUM"},{"key":"MG","name":"Magnoliopsida","rank":"CLASS"},{"key":"3Z6","name":"Rosales","rank":"ORDER"},{"key":"9LF","name":"Elaeagnaceae","rank":"FAMILY"},{"key":"62QQB","name":"Elaeagnus","rank":"GENUS"},{"key":"38X9R","name":"Elaeagnus
        angustifolia","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"3039269","name":"Elaeagnus
        angustifolia L.","rank":"SPECIES","authorship":"L.","genericName":"Elaeagnus","specificEpithet":"angustifolia","formattedName":"<i>Elaeagnus</i>
        <i>angustifolia</i> L."},"acceptedUsage":{"key":"3039269","name":"Elaeagnus
        angustifolia L.","rank":"SPECIES","authorship":"L.","genericName":"Elaeagnus","specificEpithet":"angustifolia","formattedName":"<i>Elaeagnus</i>
        <i>angustifolia</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"220","name":"Magnoliopsida","rank":"CLASS"},{"key":"691","name":"Rosales","rank":"ORDER"},{"key":"2408","name":"Elaeagnaceae","rank":"FAMILY"},{"key":"3039266","name":"Elaeagnus","rank":"GENUS"},{"key":"3039269","name":"Elaeagnus
        angustifolia","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":3039269,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":691,"familyKey":2408,"genusKey":3039266,"speciesKey":3039269,"acceptedTaxonKey":3039269,"scientificName":"Elaeagnus
        angustifolia L.","scientificNameAuthorship":"L.","acceptedScientificName":"Elaeagnus
        angustifolia L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Rosales","family":"Elaeagnaceae","genus":"Elaeagnus","species":"Elaeagnus
        angustifolia","genericName":"Elaeagnus","specificEpithet":"angustifolia","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2025-01-01T17:55:58","decimalLatitude":41.307678,"decimalLongitude":-112.021029,"coordinateUncertaintyInMeters":3.0,"continent":"NORTH_AMERICA","stateProvince":"Utah","gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.45_1","name":"Utah"},"level2":{"gid":"USA.45.29_1","name":"Weber"}},"year":2025,"month":1,"day":1,"eventDate":"2025-01-01T10:55:40","startDayOfYear":1,"endDayOfYear":1,"issues":["COORDINATE_ROUNDED","CONTINENT_DERIVED_FROM_COORDINATES","TAXON_ID_NOT_FOUND"],"modified":"2025-11-10T23:55:26.000+00:00","lastInterpreted":"2025-12-03T19:22:55.698+00:00","references":"https://www.inaturalist.org/observations/257023093","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"257023093"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/460975308","created":"2025-01-01T18:55:38.000+00:00","creator":"Bryce
        Maxell","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Bryce
        Maxell","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/460975308/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Bryce Maxell","identifiedBy":"Bryce
        Maxell","dnaSequenceID":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"NORTH_AMERICA","country":"United
        States of America","publishedByGbifRegion":"NORTH_AMERICA","rightsHolder":"Bryce
        Maxell","identifier":"257023093","http://unknown.org/nick":"bmaxell","verbatimEventDate":"2025-01-01
        10:55:40","collectionCode":"Observations","verbatimLocality":"W 2700 N St,
        Farr West, UT, US","gbifID":"5006690713","occurrenceID":"https://www.inaturalist.org/observations/257023093","taxonID":"64694","http://unknown.org/captive_cultivated":"wild","catalogNumber":"257023093","institutionCode":"iNaturalist","eventTime":"10:55:40-07:00","identificationID":"579264054"},{"key":5006691211,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-12-03T05:25:56.254+00:00","lastParsed":"2025-12-03T18:16:38.652+00:00","crawlId":570,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
[...]
