http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":11531,"results":[{"key":1986592955,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:03.193+0000","lastParsed":"2019-01-13T23:38:58.901+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":4137852,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":4137852,"acceptedTaxonKey":4137852,"scientificName":"Poa
        cita Edgar","acceptedScientificName":"Poa cita Edgar","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        cita","genericName":"Poa","specificEpithet":"cita","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-06T02:44:36","decimalLongitude":174.740986,"decimalLatitude":-41.334426,"coordinateUncertaintyInMeters":12.0,"stateProvince":"Wellington","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T13:24:29","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-06T19:35:58.000+0000","lastInterpreted":"2019-01-13T23:39:16.558+0000","references":"https://www.inaturalist.org/observations/19455798","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29933331/original.jpeg?1546741616","references":"https://www.inaturalist.org/photos/29933331","created":"2019-01-06T21:24:54.000+0000","creator":"Leon
        Perrie","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Leon
        Perrie"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29933339/original.jpeg?1546741626","references":"https://www.inaturalist.org/photos/29933339","created":"2019-01-06T21:25:23.000+0000","creator":"Leon
        Perrie","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Leon
        Perrie"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"NZ","country":"New
        Zealand","rightsHolder":"Leon Perrie","identifier":"19455798","verbatimEventDate":"2019-01-06
        1:24:29 PM NZDT","datasetName":"iNaturalist research-grade observations","gbifID":"1986592955","verbatimLocality":"Wellington,
        NZ-WG, NZ","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19455798","taxonID":"405025","catalogNumber":"19455798","recordedBy":"Leon
        Perrie","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19455798","institutionCode":"iNaturalist","rights":"©
        Leon Perrie some rights reserved","eventTime":"00:24:29Z","identificationRemarks":"?","identificationID":"42616047"},{"key":1986603666,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:05.331+0000","lastParsed":"2019-01-13T23:39:03.802+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":4136298,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 [...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 O[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2019-01-28 19:10:27 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
