http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":1407843,"results":[{"key":3455494179,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T15:58:32.026+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/174607107","http://purl.org/dc/terms/rightsHolder":"Julia","http://rs.tdwg.org/dwc/terms/catalogNumber":"174607107","http://purl.org/dc/terms/created":"2022-01-02T22:26:00Z","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Julia","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174607107/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"},{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/174607446","http://purl.org/dc/terms/rightsHolder":"Julia","http://rs.tdwg.org/dwc/terms/catalogNumber":"174607446","http://purl.org/dc/terms/created":"2022-01-02T22:26:00Z","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Julia","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174607446/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2022-02-27T19:13:42","decimalLongitude":-96.641924,"decimalLatitude":33.10483,"coordinateUncertaintyInMeters":93.0,"stateProvince":"Texas","year":2022,"month":1,"day":2,"eventDate":"2022-01-02T16:26:00","issues":["COORDINATE_ROUNDED"],"modified":"2022-03-01T12:01:04.000+00:00","lastInterpreted":"2022-11-04T15:58:32.026+00:00","references":"https://www.inaturalist.org/observations/104224061","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/174607107","created":"2022-01-02T22:26:00.000+00:00","creator":"Julia","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Julia","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174607107/original.jpeg"},{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/174607446","created":"2022-01-02T22:26:00.000+00:00","creator":"Julia","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Julia","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174607446/original.jpeg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.44_1","name":"Texas"},"level2":{"gid":"USA.44.43_1","name":"Collin"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Julia","identifiedBy":"Liam Thorne","geodeticDatum":"WGS84","class":"Aves","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","rightsHolder":"Julia","identifier":"104224061","http://unknown.org/nick":"juliayl","verbatimEventDate":"2022/01/02
        4:26 PM CST","collectionCode":"Observations","gbifID":"3455494179","verbatimLocality":"Allen,
        TX, USA","occurrenceID":"https://www.inaturalist.org/observations/104224061","taxonID":"5097","catalogNumber":"104224061","institutionCode":"iNaturalist","eventTime":"16:26:00-06:00","http://unknown.org/captive":"wild","identificationID":"239437386"},{"key":3455505011,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:13.572+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
[...]
