http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=3&offset=0&scientificName=Accipiter
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2025-11-28 13:32:36
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&scientificName=Accipiter+striatus
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '17'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":1944089,"results":[{"key":5006690680,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-11-24T19:20:31.074+00:00","lastParsed":"2025-11-25T11:48:58.518+00:00","crawlId":569,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/460952506/original.jpeg","http://purl.org/dc/terms/created":"2025-01-01T10:40:29-08:00","http://purl.org/dc/terms/creator":"Randy
        Bodkins","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rights[...]
