http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Accipiter%20striatus&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":36962,"results":[{"key":3455739748,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:01:56.410+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/174936674","http://purl.org/dc/terms/rightsHolder":"Peter
        Olsoy","http://rs.tdwg.org/dwc/terms/catalogNumber":"174936674","http://purl.org/dc/terms/created":"2022-01-04T09:35:17-08:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Peter
        Olsoy","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174936674/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2022-01-05T14:11:27","decimalLongitude":-116.15405,"decimalLatitude":43.57968,"coordinateUncertaintyInMeters":150.0,"stateProvince":"Idaho","year":2022,"month":1,"day":4,"eventDate":"2022-01-04T09:35:00","issues":["COORDINATE_ROUNDED"],"modified":"2022-01-06T16:12:06.000+00:00","lastInterpreted":"2022-11-04T16:01:56.410+00:00","references":"https://www.inaturalist.org/observations/104406502","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/174936674","created":"2022-01-04T17:35:17.000+00:00","creator":"Peter
        Olsoy","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Peter
        Olsoy","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174936674/original.jpeg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.13_1","name":"Idaho"},"level2":{"gid":"USA.13.1_1","name":"Ada"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Peter Olsoy","identifiedBy":"Peter
        Olsoy","geodeticDatum":"WGS84","class":"Aves","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","rightsHolder":"Peter Olsoy","identifier":"104406502","http://unknown.org/nick":"peterolsoy","verbatimEventDate":"2022/01/04
        9:35 AM MST","collectionCode":"Observations","gbifID":"3455739748","verbatimLocality":"Warm
        Springs Mesa, Boise, ID, USA","occurrenceID":"https://www.inaturalist.org/observations/104406502","taxonID":"5097","catalogNumber":"104406502","institutionCode":"iNaturalist","eventTime":"09:35:00-07:00","http://unknown.org/captive":"wild","identificationID":"229868360"},{"key":3455901808,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T15:58:26.479+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
