http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":3806,"results":[{"key":1841292816,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:13:50.659+0000","lastParsed":"2018-10-08T14:24:27.104+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":8086756,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":8086756,"acceptedTaxonKey":8086756,"scientificName":"Poa
        bulbosa L.","acceptedScientificName":"Poa bulbosa L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        bulbosa","genericName":"Poa","specificEpithet":"bulbosa","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2018-05-01T03:38:53","decimalLongitude":-111.930832,"decimalLatitude":40.775276,"stateProvince":"Utah","year":2018,"month":4,"day":30,"eventDate":"2018-04-30T20:33:44","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-05-01T22:30:47.000+0000","lastInterpreted":"2018-12-10T07:16:57.658+0000","references":"https://www.inaturalist.org/observations/11964971","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/17136955/original.jpeg?1525145936","references":"https://www.inaturalist.org/photos/17136955","created":"2018-05-01T03:33:44.000+0000","creator":"Krystle
        Adkins","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Krystle
        Adkins"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"US","country":"United
        States of America","rightsHolder":"Krystle Adkins","identifier":"11964971","verbatimEventDate":"2018-04-30
        8:33:44 PM MDT","datasetName":"iNaturalist research-grade observations","gbifID":"1841292816","verbatimLocality":"1348
        W 260 N, Salt Lake City, UT 84116, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/11964971","taxonID":"58382","catalogNumber":"11964971","recordedBy":"Krystle
        Adkins","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/11964971","institutionCode":"iNaturalist","rights":"©
        Krystle Adkins some rights reserved","eventTime":"02:33:44Z","identificationID":"26143109"},{"key":1841250752,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:13:39.194+0000","lastParsed":"2018-10-08T14:23:57.733+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":8086756,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":8086756,"acceptedTaxonKey":8086756,"scientificName":"Poa
        bulbosa L.","acceptedScientificName":"Poa bulbosa L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        bulbosa","genericName":"Poa","specificEpithet":"bulbosa","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2018-04-29T17:16:36","decimalLongitude":-111.833985,"decimalLatitude":40.730684,"coordinateUncertaintyInMeters":10.0,"stateProvince":"Utah","year":2018,"month":4,"day":29,"eventDate":"2018-04-29T11:15:47","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2018-05-04T03:54:35.000+0000","lastInterpreted":"2018-12-10T07:16:21.100+0000","references":"https://www.inaturalist.org/observations/11763074","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 O[...]
