http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":10369180,"results":[{"key":3455477406,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T15:58:39.974+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/174328292","http://purl.org/dc/terms/rightsHolder":"nick_goldwater","http://rs.tdwg.org/dwc/terms/catalogNumber":"174328292","http://purl.org/dc/terms/created":"2021-12-31T23:46:01Z","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"nick_goldwater","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174328292/original.jpg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":4161954,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1351,"familyKey":6666,"genusKey":7363256,"speciesKey":4161954,"acceptedTaxonKey":4161954,"scientificName":"Pittosporum
        umbellatum Banks & Sol. ex Gaertn.","acceptedScientificName":"Pittosporum
        umbellatum Banks & Sol. ex Gaertn.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Apiales","family":"Pittosporaceae","genus":"Pittosporum","species":"Pittosporum
        umbellatum","genericName":"Pittosporum","specificEpithet":"umbellatum","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"NE","dateIdentified":"2022-01-01T00:07:26","decimalLongitude":174.731462,"decimalLatitude":-36.853017,"coordinateUncertaintyInMeters":20.0,"stateProvince":"Auckland","year":2022,"month":1,"day":1,"eventDate":"2022-01-01T12:46:01","issues":["COORDINATE_ROUNDED"],"modified":"2022-01-01T03:09:25.000+00:00","lastInterpreted":"2022-11-04T15:58:39.974+00:00","references":"https://www.inaturalist.org/observations/104068092","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/174328292","created":"2021-12-31T23:46:01.000+00:00","creator":"nick_goldwater","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"nick_goldwater","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/174328292/original.jpg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"NZL","name":"New
        Zealand"},"level1":{"gid":"NZL.1_1","name":"Auckland"},"level2":{"gid":"NZL.1.1_1","name":"Auckland"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"nick_goldwater","identifiedBy":"nick_goldwater","geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"NZ","recordedByIDs":[],"identifiedByIDs":[],"country":"New
        Zealand","rightsHolder":"nick_goldwater","identifier":"104068092","http://unknown.org/nick":"nick_goldwater","verbatimEventDate":"Sat
        Jan 01 2022 12:46:01 GMT+1300 (GMT+13)","collectionCode":"Observations","gbifID":"3455477406","verbatimLocality":"Hukanui
        Res, Westmere, Auckland, NZ","occurrenceID":"https://www.inaturalist.org/observations/104068092","taxonID":"408446","catalogNumber":"104068092","institutionCode":"iNaturalist","eventTime":"12:46:01+13:00","occurrenceRemarks":"One
        plant growing in riparian scrub (ngaio, ti kouka, karamu).","http://unknown.org/captive":"wild","identificationID":"228965440"},{"key":3455477466,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:25.343+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
   [...]
