http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":12757,"results":[{"key":3455714027,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T15:58:36.396+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/175983426","http://purl.org/dc/terms/rightsHolder":"Joe
        Dillon","http://rs.tdwg.org/dwc/terms/catalogNumber":"175983426","http://purl.org/dc/terms/created":"2022-01-12T15:12:03-08:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Joe
        Dillon","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/175983426/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"},{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/175983433","http://purl.org/dc/terms/rightsHolder":"Joe
        Dillon","http://rs.tdwg.org/dwc/terms/catalogNumber":"175983433","http://purl.org/dc/terms/created":"2022-01-12T15:12:05-08:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Joe
        Dillon","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/175983433/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":4129122,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":4129122,"acceptedTaxonKey":4129122,"scientificName":"Poa
        anceps G.Forst.","acceptedScientificName":"Poa anceps G.Forst.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        anceps","genericName":"Poa","specificEpithet":"anceps","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"NE","dateIdentified":"2022-01-15T05:07:11","decimalLongitude":177.162536,"decimalLatitude":-37.991036,"coordinateUncertaintyInMeters":4.0,"stateProvince":"Bay
        of Plenty","year":2022,"month":1,"day":12,"eventDate":"2022-01-12T15:12:00","issues":["COORDINATE_ROUNDED"],"modified":"2022-01-15T06:09:26.000+00:00","lastInterpreted":"2022-11-04T15:58:36.396+00:00","references":"https://www.inaturalist.org/observations/104955541","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/175983426","created":"2022-01-12T23:12:03.000+00:00","creator":"Joe
        Dillon","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Joe
        Dillon","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/175983426/original.jpeg"},{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/175983433","created":"2022-01-12T23:12:05.000+00:00","creator":"Joe
        Dillon","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by/4.0/","rightsHolder":"Joe
        Dillon","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/175983433/original.jpeg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"NZL","name":"New
        Zealand"},"level1":{"gid":"NZL.2_1","name":"Bay of Plenty"},"level2":{"gid":"NZL.2.3_1","name":"Opotiki"}},"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"Joe Dillon","identifiedBy":"Joe
        Dillon","geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"NZ","recordedByIDs":[],"identifiedByIDs":[],"country":"New
        Zealand","rightsHolder":"Joe Dillon","identifier":"104955541","http://unknown.org/nick":"joedillon","verbatimEventDate":"2022/01/12
        3:12 PM NZDT","collectionCode":"Observations","gbifID":"3455714027","verbatimLocality":"Waiotahe,
        New Zealand","occurrenceID":"https://www.inaturalist.org/observations/104955541","taxonID":"405020","catalogNumber":"104955541","institutionCode":"iNaturalist","eventTime":"15:12:00+13:00","http://unknown.org/captive":"wild","identificationID":"231599467"},{"key":3455720791,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:01:45.717+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status:[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
  recorded_at: 2022-11-10 17:30:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.1.91
