http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":737439,"results":[{"key":1986597531,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.188+0000","lastParsed":"2019-01-13T23:39:01.074+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":9740253,"acceptedTaxonKey":9740253,"scientificName":"Accipiter
        striatus Vieillot, 1808","acceptedScientificName":"Accipiter striatus Vieillot,
        1808","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        striatus","genericName":"Accipiter","specificEpithet":"striatus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-07T12:18:42","decimalLongitude":-75.995461,"decimalLatitude":41.163283,"coordinateUncertaintyInMeters":15.0,"stateProvince":"Pennsylvania","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T12:50:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-07T12:18:42.000+0000","lastInterpreted":"2019-01-13T23:39:18.595+0000","references":"https://www.inaturalist.org/observations/19470337","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956159/original.jpeg?1546797512","references":"https://www.inaturalist.org/photos/29956159","created":"2019-01-06T20:50:09.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"},{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29956389/original.jpeg?1546797859","references":"https://www.inaturalist.org/photos/29956389","created":"2019-01-06T20:49:34.000+0000","creator":"bernicez","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"bernicez"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"bernicez","identifier":"19470337","verbatimEventDate":"2019/01/06
        12:50 PM EST","datasetName":"iNaturalist research-grade observations","gbifID":"1986597531","verbatimLocality":"Mountain
        Top, PA 18707, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19470337","taxonID":"5097","catalogNumber":"19470337","recordedBy":"bernicez","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19470337","institutionCode":"iNaturalist","rights":"©
        bernicez some rights reserved","eventTime":"17:50:00Z","identificationID":"42703521"},{"key":1986599614,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:04.510+0000","lastParsed":"2019-01-13T23:39:02.007+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9740253,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":719114[...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter&county=Sonoma&extra=last_modified&georeferenced=FALSE&page_size=5&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: Mon, 28 Jan 2019 21:35:45 GMT
      content-type: application/vnd.geo+json
    body:
      encoding: UTF-8
      string: '{"count": 27, "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::4326"}},
        "previous": null, "type": "FeatureCollection", "next": "https://ecoengine.berkeley.edu/api/observations/?country=United+States&county=Sonoma&extra=last_modified&format=geojson&georeferenced=FALSE&page=2&page_size=5&scientific_name=Accipiter",
        "features": [{"geometry": {"type":"Point","coordinates":[-122.9438,38.4816]},
        "type": "Feature", "properties": {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:12964/",
        "record": "CAS:ORN:12964", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1898-12-27T00:00:00", "end_date": "1898-12-27T00:00:00",
        "source": "https://ecoengine.berkeley.edu/api/sources/8/", "remote_resource":
        "", "locality": "unspecified", "coordinate_uncertainty_in_meters": 1000, "recorded_by":
        "H. O. Cazadero", "last_modified": "2014-06-02T11:09:55.899274"}},{"geometry":
        {"type":"Point","coordinates":[-122.6356,38.239]}, "type": "Feature", "properties":
        {"url": "https://ecoengine.berkeley.edu/api/observations/CAS:ORN:70010/",
        "record": "CAS:ORN:70010", "observation_type": "specimen", "scientific_name":
        "Accipiter striatus velox", "country": "United States", "state_province":
        "California", "begin_date": "1975-11-26T00:00:00", "end_date": "1975-11-26T00:00:00",
        "source": "[...]
- request:
    method: get
    uri: https://ecoengine.berkeley.edu/api/observations/?country=United%20States&scientific_name=Accipiter&county=Sonoma&extra=last_modified&georeferenced=FALSE&page_size=5&page=1&format=geojson
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET, HEAD, OPTIONS
      last-modified: [...]
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Danaus%20plexippus&has%5B%5D=geo&year=2014&page=1&per_page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"11350fb19a1fe0bc678525020d29eb47"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-page: '1'
      x-per-page: '1'
      x-total-entries: '1934'
    body:
      encoding: UTF-8
      string: '[{"id":19851301,"observed_on":"2014-10-10","description":null,"latitude":"41.8932116","longitude":"-74.0766385","map_scale":null,"timeframe":null,"species_guess":"Monarch","user_id":588853,"taxon_id":48662,"created_at":"2019-01-24T23:56:42.596Z","updated_at":"2019-01-25T00:41:23.175Z","place_guess":"1125
        Lucas Ave Ext, Hurley, NY 12443, USA","id_please":false,"observed_on_string":"2014/10/10
        12:32 PM EDT","iconic_taxon_id":47158,"num_identification_agreements":2,"num_identification_disagreements":0,"time_observed_at":"2014-10-10T16:32:00.000Z","time_zone":"Eastern
        Time (US \u0026 Canada)","location_is_exact":false,"delta":false,"positional_accuracy":187,"geoprivacy":null,"quality_grade":"research","positioning_method":null,"positioning_device":null,"out_of_range":null,"license":"CC-BY-NC","uri":"https://www.inaturalist.org/observations/19851301","observation_photos_count":2,"comments_count":0,"zic_time_zone":"America/New_York","oauth_application_id":null,"observation_sounds_count":0,"identifications_count":3,"captive":false,"community_taxon_id":48662,"site_id":1,"old_uuid":null,"public_positional_accuracy":187,"mappable":true,"cached_votes_total":0,"last_indexed_at":"2019-01-25T00:45:54.100Z","uuid":"65d2e6b9-1cfe-4481-ac55-caebb9e6fcf3","taxon_geoprivacy":null,"short_description":null,"user_login":"mira_l_b","iconic_taxon_name":"Insecta","tag_list":[],"faves_count":0,"created_at_utc":"2019-01-24T23:56:42.596Z","updated_at_utc":"2019-01-25T00:41:23.175Z","time_observed_at_utc":"2014-10-10T16:32:00.000Z","owners_identification_from_vision":true,"coordinates_obscured":false,"taxon":{"id":48662,"name":"Danaus
        plexippus","rank":"species","ancestry":"48460/1/47120/372739/47158/184884/47157/47224/47922/61244/134169/522900/48663","common_name":{"id":586653,"name":"Monarch","is_valid":true,"lexicon":"English"}},"iconic_taxon":{"id":47158,"name":"Insecta","rank":"class","rank_level":50.0,"ancestry":"48460/1/47120/372739"},"user":{"login":"mira_l_b","user_icon_url":"https://static.inaturalist.org/attachments/users/icons/588853/thumb.jpg?1548385650"},"photos":[{"id":30605581,"user_id":588853,"native_photo_id":"30605581","square_url":"https://static.inaturalist.org/photos/30605581/square.jpeg?1548373645","thumb_url":"https://static.inaturalist.org/photos/30605581/thumb.jpeg?1548373645","small_url":"https://static.inaturalist.org/photos/30605581/small.jpeg?1548373645","medium_url":"https://static.inaturalist.org/photos/30605581/medium.jpeg?1548373645","large_url":"https://static.inaturalist.org/photos/30605581/large.jpeg?1548373645","created_at":"2019-01-24T23:47:28.904Z","updated_at":"2019-01-24T23:47:28.904Z","native_page_url":"https://www.inaturalist.org/photos/30605581","native_username":"mira_l_b","native_realname":"Mira","license":2,"subtype":null,"native_original_image_url":null,"license_code":"CC-BY-NC","attribution":"(c)
        Mira, some rights reserved (CC BY-NC)","license_name":"Creative Commons Attribution-NonCommercial
        License","license_url":"http://creativecommons.org/licenses/by-nc/4.0/","type":"LocalPhoto"},{"id":30605586,"user_id":588853,"native_photo_id":"30605586","square_url":"https://static.inaturalist.org/photos/30605586/square.jpeg?1548373654","thumb_url":"https://static.inaturalist.org/photos/30605586/thumb.jpeg?1548373654","small_url":"https://static.inaturalist.org/photos/30605586/small.jpeg?1548373654","medium_url":"https://static.inaturalist.org/photos/30605586/medium.jpeg?1548373654","large_url":"https://static.inaturalist.org/photos/30605586/large.jpeg?1548373654","created_at":"2019-01-24T23:47:36.799Z","updated_at":"2019-01-24T23:47:36.799Z","native_page_url":"https://www.inaturalist.org/photos/30605586","native_username":"mira_l_b","native_realname":"Mira","license":2,"subtype":null,"native_original_image_url":null,"license_code":"CC-BY-NC","attribution":"(c)
        Mira, some rights reserved (CC BY-NC)","license_name":"Creative Commons Attribution-NonCommercial
        License","license_url":"http://creativecommons.org/licenses/by-nc/4.0/","type":"LocalPhoto"}]}]'
  recorded_at: 2019-01-28 21:36:08 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.inaturalist.org/observations.json?q=Danaus%20plexippus&has%5B%5D=geo&year=2014&per_page=200&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"41c6112022d05c79811413331542cec9"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
     [...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/US/recent/btbwar?maxResults=5&hotspot=true
    body:
      encoding: ''
      string: ''
    headers:
      X-eBirdApiToken: <<ebird_api_key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"speciesCode":"btbwar","comName":"Black-throated Blue Warbler","sciName":"Setophaga
        caerulescens","locId":"L580972","locName":"No Name Key","obsDt":"2019-01-27
        14:10","howMany":1,"lat":24.697714,"lng":-81.3310146,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"btbwar","comName":"Black-throated
        Blue Warbler","sciName":"Setophaga caerulescens","locId":"L127425","locName":"Matheson
        Hammock Park","obsDt":"2019-01-27 08:15","howMany":1,"lat":25.6806539,"lng":-80.2726364,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"btbwar","comName":"Black-throated
        Blue Warbler","sciName":"Setophaga caerulescens","locId":"L8500716","locName":"Martin
        Luther King Jr. Memorial Park","obsDt":"2019-01-26 13:48","howMany":1,"lat":25.8295321,"lng":-80.2499342,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"btbwar","comName":"Black-throated
        Blue Warbler","sciName":"Setophaga caerulescens","locId":"L127449","locName":"Fort
        Zachary Taylor Historic SP","obsDt":"2019-01-22 10:26","howMany":1,"lat":24.5463,"lng":-81.8106,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"btbwar","comName":"Black-throated
        Blue Warbler","sciName":"Setophaga caerulescens","locId":"L2630894","locName":"Olympic
        Park","obsDt":"2019-01-21 16:52","howMany":1,"lat":25.6869966,"lng":-80.4414976,"obsValid":true,"obsReviewed":false,"locationPrivate":false}]'
  recorded_at: 2019-01-28 21:36:08 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://api.vertnet-portal.appspot.com/api/search?q=%7B%22q%22%3A%22Mustela%20year%3A2010%22%2C%22l%22%3A5%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      charset: utf-8
      x-cloud-trace-context: a36e536a0015528b4bd2f73e7674ed86
    body:
      encoding: UTF-8
      string: '{"request_date": "2019-01-28T21:36:08.746692", "response_records":
        5, "submitted_query": "Mustela year:2010", "request_origin": "45.512231,-122.658718",
        "limit": 5, "cursor": "False:CvUGCs4ECqAE9wAAABn_____jIGJmo2LkZqL0o-QjYuek96WkZuah9LNz87M0s_H0s_H_wAA_3RtoKCZi4ygoP8AAP9dno-PmpGYlpGa_wAA_3N0bZaRm5qH_wAA_12biJz_AAD_c3Rtm5CcoJab_wAA_12SiYXQkp6Skp6T0oyPmpyWkpqRjNCXi4uP0p6NnIuQjNKbnouenZ6MmtKSioyaipLSmIqWm9KSiYXSkp6SktLNzcnOzcjSjJqWm9LOy8jJyMbH_wAA_3N_komF0JKekpKek9KMj5qclpKakYzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSkomF0pKekpLSzc3Jzs3I0oyalpvSzsvIycjGx_8AAP__AP7__oyBiZqNi5Gai9KPkI2LnpPelpGbmofSzc_OzNLPx9LPx_8AdG2goJmLjKCg_wBdno-PmpGYlpGa_wBzdG2WkZuah_8AXZuInP8Ac3Rtm5CcoJab_wBdkomF0JKekpKek9KMj5qclpKakYzQl4uLj9KejZyLkIzSm56Lnp2ejJrSkoqMmoqS0piKlpvSkomF0pKekpLSzc3Jzs3I0oyalpvSzsvIycjGx_8Ac3-SiYXQkp6Skp6T0oyPmpyWkpqRjNCXi4uP0p6NnIuQjNKbnouenZ6MmtKSioyaipLSmIqWm9KSiYXSkp6SktLNzcnOzcjSjJqWm9LOy8jJyMbH_wD__hAFIdteL9GbJNTJOQAAAADm____SAVQAFoLCY-b_d3Z0uTxEAJgsonV9gcSDURvY3VtZW50SW5kZXga8AEoQU5EIChJUyAiY3VzdG9tZXJfbmFtZSIgImFwcGVuZ2luZSIpIChJUyAiZ3JvdXBfbmFtZSIgInN-dmVydG5ldC1wb3J0YWwiKSAoSVMgIm5hbWVzcGFjZSIgImluZGV4LTIwMTMtMDgtMDgiKSAoSVMgImluZGV4X25hbWUiICJkd2MiKSAoQU5EIChPUiAoUVQgIk11c3RlbGEiKSAoSVMgIl9fZ2F0b21fXyIgIm11c3RlbGEiKSkgKE9SIChRVCAiMjAxMCIgInJ0ZXh0X3llYXIiKSAoRVEgMjAxMCAic25icl95ZWFyIikpKSk6GQoMKE4gb3JkZXJfaWQpEAEZAAAAAAAA8P9KBQgAQOgH",
        "query_version": "search.py 2016-08-15T16:43+02:00", "recs": [{"haslifestage":
        "1", "month": "08", "decimallongitude": "-154.124", "isarch": "0", "startdayofyear":
        "234", "minimumelevationinmeters": "550", "networks": "Arctos,MaNIS,VertNet",
        "vntype": "specimen", "title": "MSB Mammal Collection (Arctos)", "massing":
        "30", "accessrights": "http://www.vertnet.org/resources/norms.html", "kingdom":
        "Animalia", "verbatimcoordinatesystem": "decimal degrees", "dctype": "PhysicalObject",
        "iptrecordid": "http://arctos.database.museum/guid/MSB:Mamm:224351?seid=1784605",
        "day": "22", "identificationverificationstatus": "field", "occurrenceid":
        "http://arctos.database.museum/guid/MSB:Mamm:224351?seid=1784605", "identificationqualifier":
        "A", "georeferenceddate": "2010-08-22", "verbatimeventdate": "2010-08-22",
        "gbifdatasetid": "b15d4952-7d20-46f1-8a3e-556a512b04c5", "higherclassification":
        "Animalia; Chordata; Mammalia; Carnivora; Mustelidae; Mustelinae;  Linnaeus,
        1766", "pubdate": "2018-11-01", "lifestage": "adult", "sex": "female", "year":
        "2010", "wasinvasive": "0", "specificepithet": "nivalis", "basisofrecord":
        "PreservedSpecimen", "geodeticdatum": "North American Datum 1983", "occurrenceremarks":
        "Mites/Lice", "highergeography": "North America, United States, Alaska, North
        Slope Borough", "continent": "North America", "email": "cookjose@unm.edu",
        "orgcountry": "United States", "source_url": "http://ipt.vertnet.org:8080/ipt/resource.do?r=msb_mamm",
        "scientificname": "Mustela nivalis", "hashid": "6586", "hassex": "1", "language":
        "en", "institutionid": "urn:lsid:biocol.org:col:34495", "country": "United
        States", "hastissue": "1", "lengthunitsinferred": "0", "underivedsex": "female",
        "genus": "Mustela", "georeferenceprotocol": "not recorded", "family": "Mustelidae",
        "stateprovince": "Alaska", "rank": 12, "county": "North Slope Borough", "phylum":
        "Chordata", "references": "http://arctos.database.museum/guid/MSB:Mamm:224351",
        "georeferencedby": "Andrew G. Hope", "taxonrank": "species", "hasmedia": "0",
        "verbatimlocality": "Lake Tulilik: 550M", "institutioncode": "MSB", "orgstateprovince":
        "New Mexico", "lengthinmm": "144", "organismid": "http://arctos.database.museum/guid/MSB:Mamm:224351",
        "maximumelevationinmeters": "550", "hastypestatus": "0", "preparations": "skull;
        ectoparasite (70% ethanol); skeleton, postcranial (dry); liver (frozen); heart,
        kidney, lung, spleen (frozen)", "coordinateuncertaintyinmeters": "1000", "recordedby":
        "Collector(s): Andrew G. Hope, Lydia H. Zeglin, Cody R. Dial", "isfossil":
        "0", "license": "http://arctosdb.org/home/data/", "wascaptive": "0", "dynamicproperties":
        "total length=144 mm; tail length=18 mm; hind foot with claw=19 mm; ear from
        notch=10 mm; sex=female ; weight=30 g; reproductive data=CSN ; age class=adult",
        "georeferenceverificationstatus": "unverified", "modified": "2018-10-16 00:34:11.0",
        "haslicense": "1", "eventdate": "2010-08-22", "haslength": "1", "individualcount":
        "1", "bibliographiccitation": "Museum of Southwestern Biology. MSB Mammal
        Collection (Arctos). Record ID: http://arctos.database.museum/guid/MSB:Mamm:224351?seid=1784605.
        Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=msb_mamm (source published
        on 2018-11-01)", "verbatimcoordinates": "68.1174/-154.124", "citation": "Museum
        of Southwestern Biology. MSB Mammal Collection (Arctos). Source: http://ipt.vertnet.org:8080/ipt/resource.do?r=msb_mamm
        (source published on 2018-11-01)", "georeferencesources": "GPS", "lastindexed":
        "2018-11-05", "dateidentified": "2010-08-22", "catalognumber": "224351", "emlrights":
        "The data and media available through Arctos are the property of the originating
        institution, with all rights reserved. These records are intended for use
        in education and research and may not be repackaged, redistributed, or sold
        in any form without prior written consent from the collection(s) holding such
        data. Users wishing to include Arctos data or media in publications, reports,
        websites, or other means of dissemination must acknowledge the provenance
        of the original data, cite the institutional catalog number(s), and notify
        the appropriate curator. The date that information was accessed should be
        cited when downloaded data are used in published analyses. These are secondary
        data and their accuracy is not guaranteed. Citation of Arctos is no substitute
        for examination of specimens. The data providers are not responsible for loss
        or damages due to use of these data. http://arctosdb.org/home/data/ &lt;/br&gt;&lt;/br&gt;",
        "hasmass": "1", "locality": "Lake Tulilik: 550M", "orgname": "Museum of Southwestern
        Biology", "keyname": "msb/mammal-specimens/http-arctos-database-museum-guid-msb-mamm-224351-seid-1784605",
        "migrator": "no migrator", "lengthtype": "total length", "collectioncode":
        "Mammal specimens", "massunitsinferred": "0", "icode": "MSB", "underivedlifestage":
        "adult", "gbifpublisherid": "939ed180-aa7b-11db-8edf-b8a03c50a862", "class":
        "Mammalia", "previousidentifications": "<i>Mustela nivalis</i> (accepted ID)
        identified by Andrew G. Hope on 2010-08-22; method: field", "decimallatitude":
        "68.1174", "mappable": "1", "locationaccordingto": "Andrew G. Hope", "othercatalognumbers":
        "NK=196315", "identifiedby": "Andrew G. Hope", "nomenclaturalcode": "ICZN",
        "contact": "Joseph Cook", "order": "Carnivora", "enddayofyear": "234"}, {"haslifestage":
        "0", "month": "07", "decimallongitude": "-114.4034", "isarch": "0", "startdayofyear":
        "183", "networks": "Arctos,MaNIS,VertNet", "vntype": "specimen", "title":
        "MSB Mammal Collection (Arctos)", "massing": "215", "accessrights": "http://www.vertnet.org/resources/norms.html",
        "kingdom": "Animalia", "verbatimcoordinatesystem": "decimal degrees", "dctype":
        "PhysicalObject", "iptrecordid": "http://arctos.database.museum/guid/MSB:Mamm:2[...]
