http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":8039,"results":[{"key":3760127235,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:03:34.384+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/188574706","http://purl.org/dc/terms/rightsHolder":"Will
        Pearce","http://rs.tdwg.org/dwc/terms/catalogNumber":"188574706","http://purl.org/dc/terms/created":"2022-04-16T12:55:05-07:00","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/creator":"Will
        Pearce","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/188574706/original.jpeg","http://purl.org/dc/terms/format":"image/jpeg"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","taxonKey":8086756,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":8086756,"acceptedTaxonKey":8086756,"scientificName":"Poa
        bulbosa L.","acceptedScientificName":"Poa bulbosa L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        bulbosa","genericName":"Poa","specificEpithet":"bulbosa","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"NE","dateIdentified":"2022-04-16T20:04:27","decimalLongitude":-111.839152,"decimalLatitude":40.559851,"coordinateUncertaintyInMeters":50.0,"stateProvince":"Utah","year":2022,"month":4,"day":16,"eventDate":"2022-04-16T12:54:59","issues":["COORDINATE_ROUNDED"],"modified":"2022-10-25T01:34:24.000+00:00","lastInterpreted":"2022-11-04T16:03:34.384+00:00","references":"https://www.inaturalist.org/observations/111690072","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/188574706","created":"2022-04-16T19:55:05.000+00:00","creator":"Will
        Pearce","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Will
        Pearce","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/188574706/original.jpeg"}],"facts":[],"relations":[],"gadm":{"level0":{"gid":"USA","name":"United
        States"},"level1":{"gid":"USA.45_1","name":"Utah"},"level2":{"gid":"USA.45.18_1","name":"Salt
        Lake"}},"isInCluster":false,"datasetName":"iNaturalist research-grade observations","recordedBy":"Will
        Pearce","identifiedBy":"Will Pearce","geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","rightsHolder":"Will Pearce","identifier":"111690072","http://unknown.org/nick":"clabsauce","verbatimEventDate":"2022-04-16
        12:54:59","collectionCode":"Observations","gbifID":"3760127235","verbatimLocality":"Sandy,
        UT, USA","occurrenceID":"https://www.inaturalist.org/observations/111690072","taxonID":"58382","catalogNumber":"111690072","institutionCode":"iNaturalist","eventTime":"12:54:59-06:00","http://unknown.org/captive":"wild","identificationID":"249814304"},{"key":3772430266,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-04T09:58:49.636+00:00","lastParsed":"2022-11-04T16:02:15.468+00:00","crawlId":323,"hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Quercus&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status:[...]
