http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=5&offset=0&geometry=POLYGON%28%28-120%2040%2C-100%2040%2C-100%2045%2C-120%2045%2C-120%2040%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":8029359,"results":[{"key":1986617306,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:08.116+0000","lastParsed":"2019-01-13T23:39:09.588+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":2490849,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":729,"familyKey":5290,"genusKey":2490834,"speciesKey":2490849,"acceptedTaxonKey":2490849,"scientificName":"Myadestes
        townsendi (Audubon, 1838)","acceptedScientificName":"Myadestes townsendi (Audubon,
        1838)","kingdom":"Animalia","phylum":"Chordata","order":"Passeriformes","family":"Turdidae","genus":"Myadestes","species":"Myadestes
        townsendi","genericName":"Myadestes","specificEpithet":"townsendi","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-09T03:04:29","decimalLongitude":-105.053679,"decimalLatitude":40.627567,"coordinateUncertaintyInMeters":31.0,"stateProvince":"Colorado","year":2019,"month":1,"day":7,"eventDate":"2019-01-07T15:10:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-09T19:58:59.000+0000","lastInterpreted":"2019-01-13T23:39:31.492+0000","references":"https://www.inaturalist.org/observations/19525121","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30047682/original.jpg?1547003024","references":"https://www.inaturalist.org/photos/30047682","created":"2019-01-07T22:10:00.000+0000","creator":"Joshua
        Smith","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"Joshua
        Smith"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Aves","countryCode":"US","country":"United
        States of America","rightsHolder":"Joshua Smith","identifier":"19525121","verbatimEventDate":"2019/01/07
        3:10 pm","datasetName":"iNaturalist research-grade observations","gbifID":"1986617306","verbatimLocality":"Larimer
        County, CO, USA","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19525121","taxonID":"12951","catalogNumber":"19525121","recordedBy":"Joshua
        Smith","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19525121","institutionCode":"iNaturalist","rights":"©
        Joshua Smith some rights reserved","eventTime":"22:10:00Z","identificationID":"42814858"},{"key":1986559134,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:20:56.728+0000","lastParsed":"2019-01-13T23:38:40.077+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":9537647,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":1108,"[...]
[...]
