http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&geometry=POLYGON%28%28165%20-53%2C180%20-53%2C180%20-29%2C165%20-29%2C165%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":4934409,"results":[{"key":1986613297,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:07.009+0000","lastParsed":"2019-01-13T23:39:07.940+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":5391048,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":5390965,"speciesKey":5391048,"acceptedTaxonKey":5391048,"scientificName":"Celmisia
        sessiliflora Hook.f.","acceptedScientificName":"Celmisia sessiliflora Hook.f.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Celmisia","species":"Celmisia
        sessiliflora","genericName":"Celmisia","specificEpithet":"sessiliflora","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-08T09:16:44","decimalLongitude":171.00115,"decimalLatitude":-43.584007,"coordinateUncertaintyInMeters":288.0,"stateProvince":"Canterbury","year":2019,"month":1,"day":6,"eventDate":"2019-01-06T09:36:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-09T07:35:28.000+0000","lastInterpreted":"2019-01-13T23:39:28.931+0000","references":"https://www.inaturalist.org/observations/19509070","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/30022047/original.jpg?1546938739","references":"https://www.inaturalist.org/photos/30022047","created":"2019-01-06T17:36:16.000+0000","creator":"John
        Barkla","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"John
        Barkla"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Magnoliopsida","countryCode":"NZ","country":"New
        Zealand","rightsHolder":"John Barkla","identifier":"19509070","verbatimEventDate":"2019/01/06
        9:36 AM NZDT","datasetName":"iNaturalist research-grade observations","gbifID":"1986613297","verbatimLocality":"Ashburton
        Lakes 7771, New Zealand","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19509070","taxonID":"400598","catalogNumber":"19509070","recordedBy":"John
        Barkla","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19509070","institutionCode":"iNaturalist","rights":"©
        John Barkla some rights reserved","eventTime":"20:36:00Z","occurrenceRemarks":"Occasional
        in montane basin herbfields and grasslands","identificationID":"42764611"},{"key":1986616826,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:07.932+0000","lastParsed":"2019-01-13T23:39:09.505+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":4019603,"kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":4[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=2&offset=0&geometry=POLYGON%28%28-180%20-53%2C-175%20-53%2C-175%20-29%2C-180%20-29%2C-180%20-53%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-ty[...]
