http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa+annua&geometry=POLYGON%28%28165+-53%2C180+-53%2C180+-29%2C165+-29%2C165+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '5'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":846,"results":[{"key":5007764222,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2025-11-24T19:20:31.074+00:00","lastParsed":"2025-11-25T10:32:23.328+00:00","crawlId":569,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/461316181/original.jpg","http://purl.org/dc/terms/created":"2025-01-01T02:23:50Z","http://purl.org/dc/terms/creator":"James
        Eggers","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by-nc/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rightsHolder":"James
        Eggers","http://rs.tdwg.org/dwc/terms/catalogNumber":"461316181","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/461316181","http://purl.org/dc/terms/type":"StillImage"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"6W3C4","name":"Poa
        annua L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Poa","specificEpithet":"annua","formattedName":"<i>Poa</i>
        <i>annua</i> L."},"acceptedUsage":{"key":"6W3C4","name":"Poa annua L.","rank":"SPECIES","code":"BOTANICAL","authorship":"L.","genericName":"Poa","specificEpithet":"annua","formattedName":"<i>Poa</i>
        <i>annua</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"P","name":"Plantae","rank":"KINGDOM"},{"key":"CMQ8S","name":"Pteridobiotina","rank":"SUBKINGDOM"},{"key":"TP","name":"Tracheophyta","rank":"PHYLUM"},{"key":"L2L","name":"Liliopsida","rank":"CLASS"},{"key":"627VM","name":"Poales","rank":"ORDER"},{"key":"627FW","name":"Poaceae","rank":"FAMILY"},{"key":"8W2K5","name":"Poa","rank":"GENUS"},{"key":"6W3C4","name":"Poa
        annua","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"2704179","name":"Poa
        annua L.","rank":"SPECIES","authorship":"L.","genericName":"Poa","specificEpithet":"annua","formattedName":"<i>Poa</i>
        <i>annua</i> L."},"acceptedUsage":{"key":"2704179","name":"Poa annua L.","rank":"SPECIES","authorship":"L.","genericName":"Poa","specificEpithet":"annua","formattedName":"<i>Poa</i>
        <i>annua</i> L."},"taxonomicStatus":"ACCEPTED","classification":[{"key":"6","name":"Plantae","rank":"KINGDOM"},{"key":"7707728","name":"Tracheophyta","rank":"PHYLUM"},{"key":"196","name":"Liliopsida","rank":"CLASS"},{"key":"1369","name":"Poales","rank":"ORDER"},{"key":"3073","name":"Poaceae","rank":"FAMILY"},{"key":"2704173","name":"Poa","rank":"GENUS"},{"key":"2704179","name":"Poa
        annua","rank":"SPECIES"}],"iucnRedListCategoryCode":"LC","issues":["TAXON_ID_NOT_FOUND"]}},"taxonKey":2704179,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704179,"acceptedTaxonKey":2704179,"scientificName":"Poa
        annua L.","scientificNameAuthorship":"L.","acceptedScientificName":"Poa annua
        L.","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        annua","genericName":"Poa","specificEpithet":"annua","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2025-01-03T02:00:00","decimalLatitude":-43.229017,"decimalLongitude":172.229828,"coordinateUncertaintyInMeters":96.0,"continent":"OCEANIA","stateProvince":"Canterbury","gadm":{"level0":{"gid":"NZL","name":"New
        Zealand"},"level1":{"gid":"NZL.3_1","name":"Canterbury"},"level2":{"gid":"NZL.3.8_1","name":"Waimakariri"}},"year":2025,"month":1,"day":1,"eventDate":"2025-01-01T15:23:50","startDayOfYear":1,"endDayOfYear":1,"issues":["COORDINATE_ROUNDED","CONTINENT_DERIVED_FROM_COORDINATES","TAXON_ID_NOT_FOUND"],"modified":"2025-04-11T00:02:14.000+00:00","lastInterpreted":"2025-11-25T10:32:23.328+00:00","references":"https://www.inaturalist.org/observations/257189922","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"257189922"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/461316181","created":"2025-01-01T02:23:50.000+00:00","creator":"James
        Eggers","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"James
        Eggers","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/461316181/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"James Eggers","identifiedBy":"David
        Lyttle","dnaSequenceID":[],"geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"NZ","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"OCEANIA","country":"New
        Zealand","publishedByGbifRegion":"OCEANIA","rightsHolder":"James Eggers","identifier":"257189922","http://unknown.org/nick":"james_eggers","verbatimEventDate":"2025-01-01
        15:23:50+13:00","collectionCode":"Observations","verbatimLocality":"Ashley
        River/Rakahuri, Oxford, Canterbury, NZ","gbifID":"5007764222","occurrenceID":"https://www.inaturalist.org/observations/257189922","taxonID":"52808","http://unknown.org/captive_cultivated":"wild","catalogNumber":"257189922","institutionCode":"iNaturalist","eventTime":"15:23:50+13:00","identificationID":"579711420"},{"key":5008076006,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2025-11-24T19:20:31.074+00:00","lastParsed":"2025-11-25T08:50:18.686+00:00","crawlId":569,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Poa+annua&geometry=POLYGON%28%28-180+-53%2C-175+-53%2C-175+-29%2C-180+-29%2C-180+-53%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '4'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":22,"results":[{"key":4103277698,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"NZ","protocol":"DWC_ARCHIVE","lastCrawled":"2025-11-24T19:20:31.074+00:00","lastParsed":"2025-11-25T10:01:11.693+00:00","crawlId":569,"projectId":"https://www.inaturalist.org/projects/coastal-sand-dunes-and-salt-marsh-banks-and-cliffs|https://www.inaturalist.org/projects/chatham-island-group","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/272973679/original.jpg","http://purl.org/dc/terms/created":"2023-04-18T14:17:29-07:00","http://purl.org/dc/terms/creator":"Peter
        de Lange","http://purl.org/dc/terms/license":"https://creativeco[...]
