http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=2&offset=0&scientificName=Accipiter+striatus&geometry=POLYGON%28%28-120+40%2C-100+40%2C-100+45%2C-120+45%2C-120+40%29%29
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-varnish-rli: '3'
      x-varnish-rlg: '250'
    body:
      string: '{"offset":0,"limit":2,"endOfRecords":false,"count":55144,"results":[{"key":5006770226,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2025-12-03T05:25:56.254+00:00","lastParsed":"2025-12-03T19:23:37.222+00:00","crawlId":570,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/461439289/original.jpeg","http://purl.org/dc/terms/created":"2025-01-03T08:40:51-08:00","http://purl.org/dc/terms/creator":"Colin
        Croft","http://purl.org/dc/terms/license":"https://creativecommons.org/licenses/by/4.0/","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/rightsHolde[...]
