http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=3&offset=0&scientificName=Accipiter
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":7758725,"results":[{"key":3424316354,"datasetKey":"b124e1e0-4755-430f-9eab-894f25a9b59c","publishingOrgKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","installationKey":"7bdf9f6d-317a-45ec-8bb7-7ff61345d6a6","publishingCountry":"NO","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-09T19:10:50.922+00:00","lastParsed":"2022-11-10T09:04:57.012+00:00","crawlId":230,"hostingOrganizationKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[]},"basisOfRecord":"HUMAN_OBSERVATION","individualCount":1,"occurrenceStatus":"PRESENT","taxonKey":2480637,"kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7191147,"familyKey":2877,"genusKey":9405810,"speciesKey":2480637,"acceptedTaxonKey":2480637,"scientificName":"Accipiter
        nisus (Linnaeus, 1758)","acceptedScientificName":"Accipiter nisus (Linnaeus,
        1758)","kingdom":"Animalia","phylum":"Chordata","order":"Accipitriformes","family":"Accipitridae","genus":"Accipiter","species":"Accipiter
        nisus","genericName":"Accipiter","specificEpithet":"nisus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","decimalLongitude":8.855835,"decimalLatitude":58.50049,"coordinateUncertaintyInMeters":1.0,"stateProvince":"Agder","year":2022,"month":1,"day":1,"eventDate":"2022-01-01T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2022-01-01T08:50:52.000+00:00","lastInterpreted":"2022-11-10T09:04:57.012+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[],"facts":[],"relations":[],"gadm":{"level0":{"gid":"NOR","name":"Norway"},"level1":{"gid":"NOR.3_1","name":"Aust-Agder"},"level2":{"gid":"NOR.3.2_1","name":"Arendal"}},"isInCluster":false,"recordedBy":"Kjell
        Klungland|Vidar Andersen","geodeticDatum":"WGS84","class":"Aves","countryCode":"NO","recordedByIDs":[],"identifiedByIDs":[],"country":"Norway","identifier":"urn:uuid:66f363bd-9fa8-4f9d-9a4f-8647b8f4da4b","dynamicProperties":"{\"Activity\":\"FlyingBy\"}","associatedReferences":"https://www.artsobservasjoner.no/Sighting/28271572","county":"Agder","municipality":"Arendal","locality":"Saltrød
        øst mot Neskilen, Arendal, Ag","collectionCode":"so2-birds","gbifID":"3424316354","occurrenceID":"urn:uuid:66f363bd-9fa8-4f9d-9a4f-8647b8f4da4b","catalogNumber":"28271572","institutionCode":"nof","locationID":"1579806","fieldNotes":"Activity:
        FlyingBy.","eventTime":"8.75","behavior":"moving"},{"key":3428845549,"datasetKey":"b124e1e0-4755-430f-9eab-894f25a9b59c","publishingOrgKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","installationKey":"7bdf9f6d-317a-45ec-8bb7-7ff61345d6a6","publishingCountry":"NO","protocol":"DWC_ARCHIVE","lastCrawled":"2022-11-09T19:10:50.922+00:00","lastParsed":"2022-11-10T09:05:18.564+00:00","crawlId":230,"hostingOrganizationKey":"d3978a37-635a-4ae3-bb85-7b4d41bc0b88","extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[]},"basisOfRecord":"HUMAN_OBS[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?occurrenceStatus=PRESENT&limit=5&offset=0&scientificName=Accipiter%20striatus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.3 crul/1.3 rOpenSci(rgbif/3.7.3)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encod[...]
