http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=TSNs%3A%22129313%22&wt=json&rows=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"TSNs:\"129313\"","rows":"20","wt":"json"}},"response":{"numFound":61,"start":0,"docs":[{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"","ambiguous":false,"verbatimLocality":"No specific locality recorded.","occurrenceID":"69864609","basisOfRecord":"observation","providedCommonName":"","ownerInstitutionCollectionCode":"UAM Insect Observations (Arctos)","scientificName":"Chironomus riparius","institutionID":"http://www.uaf.edu/museum/","license":"CC_BY_4_0","TSNs":["129313"],"providerID":522,"stateProvince":"Alaska","higherGeographyID":"","verbatimEventDate":"before 31 Dec 1965.","coordinatePrecision":"","verbatimElevation":"","recordedBy":"Collector(s): unknown","provider":"University of Alaska Museum of the North","verbatimDepth":"","catalogNumber":"70302","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/null,null/observation","kingdom":"Animalia","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","ITIScommonName":"NULL","resourceID":"522,202775","ITIStsn":"129313","_version_":1592411603162103809},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"CA","providedCounty":"","ambiguous":false,"verbatimLocality":"","latlon":"-79.8,43.3","computedCountyFips":"3524","occurrenceID":"71801880","decimalLongitude":-79.8,"basisOfRecord":"unknown","providedCommonName":"","ownerInstitutionCollectionCode":"Geographically tagged INSDC sequences","scientificName":"Chironomus riparius","institutionID":"http://www.ebi.ac.uk/","computedStateFips":"ON","license":"CC_BY_4_0","TSNs":["129313"],"providerID":1621,"stateProvince":"","higherGeographyID":"","verbatimEventDate":"","decimalLatitude":43.3,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"","geo":"-79.8 43.3","provider":"European Molecular Biology Laboratory (EMBL)","calculatedCounty":"Halton","verbatimDepth":"","catalogNumber":"","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/-79.8,43.3/unknown","kingdom":"Animalia","calculatedState":"Ontario Canada","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","ITIScommonName":"NULL","resourceID":"1621,201821","ITIStsn":"129313","_version_":1592411870049861639},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"Douglas","ambiguous":false,"verbatimLocality":"","latlon":"-95.2905294,38.8965726","computedCountyFips":"20045","occurrenceID":"189783853","decimalLongitude":-95.29053,"basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://entomology.biodiversity.ku.edu/collections","ownerInstitutionCollectionCode":"Snow Entomological Museum Collection","scientificName":"Chironomus riparius","institutionID":"http://www.nhm.ku.edu/","computedStateFips":"20","license":"CC_BY_4_0","TSNs":["129313"],"providerID":196,"stateProvince":"Kansas","higherGeographyID":"","verbatimEventDate":"Apr.","decimalLatitude":38.896572,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"Tucker, E","geo":"-95.2905294 38.8965726","provider":"University of Kansas Biodiversity Institute","calculatedCounty":"Douglas","verbatimDepth":"","catalogNumber":"1428853","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/-95.2905294,38.8965726/specimen/centroid","kingdom":"Animalia","calculatedState":"Kansas","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","centroid":"county","ITIScommonName":"NULL","resourceID":"196,202092","ITIStsn":"129313","_version_":1592427090078072834},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"Douglas","ambiguous":false,"verbatimLocality":"","latlon":"-95.2905294,38.8965726","computedCountyFips":"20045","occurrenceID":"189784560","decimalLongitude":-95.29053,"basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://entomology.biodiversity.ku.edu/col[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=1448237
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":3390,"results":[{"key":1889257888,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-01-19T18:50:10.034+0000","lastParsed":"2018-08-04T22:15:02.692+0000","crawlId":96,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":1448237,"kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"acceptedTaxonKey":1448237,"scientificName":"Chironomus
        riparius Meigen, 1804","acceptedScientificName":"Chironomus riparius Meigen,
        1804","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","genericName":"Chironomus","specificEpithet":"riparius","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":12.181606,"decimalLatitude":53.76997,"coordinateUncertaintyInMeters":250.0,"year":2018,"month":7,"day":27,"eventDate":"2018-07-27T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-23T10:39:08.979+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[{"format":"text/html","references":"https://naturgucker.net/?sprache=en&bild=408854324"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Insecta","countryCode":"DE","country":"Germany","catalogNumber":"303923217","recordedBy":"-1056420899","institutionCode":"naturgucker","locality":"Güstrow
        Süd","gbifID":"1889257888","collectionCode":"naturgucker"},{"key":1579928950,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-01-19T18:55:33.753+0000","lastParsed":"2017-11-01T17:22:36.908+0000","crawlId":96,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":1448237,"kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"fam[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=5285750
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":10349,"results":[{"key":1986593119,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:21:03.277+0000","lastParsed":"2019-01-13T23:38:58.977+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":7230686,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"acceptedTaxonKey":7230686,"scientificName":"Pinus
        contorta var. contorta","acceptedScientificName":"Pinus contorta var. contorta","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","genericName":"Pinus","specificEpithet":"contorta","infraspecificEpithet":"contorta","taxonRank":"VARIETY","taxonomicStatus":"ACCEPTED","dateIdentified":"2019-01-06T03:20:07","decimalLongitude":-122.650306,"decimalLatitude":49.347542,"coordinateUncertaintyInMeters":10.0,"stateProvince":"British
        Columbia","year":2019,"month":1,"day":5,"eventDate":"2019-01-05T10:17:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"modified":"2019-01-06T05:16:17.000+0000","lastInterpreted":"2019-01-13T23:39:16.307+0000","references":"https://www.inaturalist.org/observations/19456850","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","identifiers":[],"media":[{"type":"StillImage","format":"image/jpeg","identifier":"https://static.inaturalist.org/photos/29934777/original.jpg?1546744121","references":"https://www.inaturalist.org/photos/29934777","created":"2019-01-05T18:17:32.000+0000","creator":"John
        D Reynolds","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"John
        D Reynolds"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Pinopsida","countryCode":"CA","country":"Canada","rightsHolder":"John
        D Reynolds","identifier":"19456850","verbatimEventDate":"2019/01/05 10:17
        AM PST","datasetName":"iNaturalist research-grade observations","gbifID":"1986593119","verbatimLocality":"Coquitlam,
        BC, Canada","collectionCode":"Observations","occurrenceID":"https://www.inaturalist.org/observations/19456850","taxonID":"80130","catalogNumber":"19456850","recordedBy":"John
        D Reynolds","http://unknown.org/occurrenceDetails":"https://www.inaturalist.org/observations/19456850","institutionCode":"iNaturalist","rights":"©
        John D Reynolds some rights reserved","eventTime":"18:17:00Z","identificationID":"42617786"},{"key":1802781699,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","networkKeys":[],"installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2019-01-28T00:30:17.300+0000","lastParsed":"2018-10-08T17:06:37.145+0000","crawlId":147,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":5285750,"kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":6[...]
