http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=20&offset=0&taxonKey=1448237
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rgbif/1.1.0.9113)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":3390,"results":[{"key":1889257888,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-01-19T18:50:10.034+0000","lastParsed":"2018-08-04T22:15:02.692+0000","crawlId":96,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":1448237,"kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"acceptedTaxonKey":1448237,"scientificName":"Chironomus
        riparius Meigen, 1804","acceptedScientificName":"Chironomus riparius Meigen,
        1804","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","genericName":"Chironomus","specificEpithet":"riparius","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":12.181606,"decimalLatitude":53.76997,"coordinateUncertaintyInMeters":250.0,"year":2018,"month":7,"day":27,"eventDate":"2018-07-27T00:00:00","issues":["COORDINATE_ROUNDED","GEODETIC_DATUM_ASSUMED_WGS84"],"lastInterpreted":"2018-12-23T10:39:08.979+0000","license":"http://creativecommons.org/licenses/by/4.0/legalcode","identifiers":[],"media":[{"format":"text/html","references":"https://naturgucker.net/?sprache=en&bild=408854324"}],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Insecta","countryCode":"DE","country":"Germany","catalogNumber":"303923217","recordedBy":"-1056420899","institutionCode":"naturgucker","locality":"Güstrow
        Süd","gbifID":"1889257888","collectionCode":"naturgucker"},{"key":1579928950,"datasetKey":"6ac3f774-d9fb-4796-b3e9-92bf6c81c084","publishingOrgKey":"bb646dff-a905-4403-a49b-6d378c2cf0d9","networkKeys":[],"installationKey":"36cae45c-1983-48be-9cf9-0672c4a60612","publishingCountry":"DE","protocol":"BIOCASE","lastCrawled":"2019-01-19T18:55:33.753+0000","lastParsed":"2017-11-01T17:22:36.908+0000","crawlId":96,"extensions":{},"basisOfRecord":"HUMAN_OBSERVATION","taxonKey":1448237,"kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"fam[...]
