http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=TSNs%3A%22129313%22&wt=json&rows=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"TSNs:\"129313\"","rows":"20","wt":"json"}},"response":{"numFound":61,"start":0,"docs":[{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"","ambiguous":false,"verbatimLocality":"No specific locality recorded.","occurrenceID":"69864609","basisOfRecord":"observation","providedCommonName":"","ownerInstitutionCollectionCode":"UAM Insect Observations (Arctos)","scientificName":"Chironomus riparius","institutionID":"http://www.uaf.edu/museum/","license":"CC_BY_4_0","TSNs":["129313"],"providerID":522,"stateProvince":"Alaska","higherGeographyID":"","verbatimEventDate":"before 31 Dec 1965.","coordinatePrecision":"","verbatimElevation":"","recordedBy":"Collector(s): unknown","provider":"University of Alaska Museum of the North","verbatimDepth":"","catalogNumber":"70302","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/null,null/observation","kingdom":"Animalia","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","ITIScommonName":"NULL","resourceID":"522,202775","ITIStsn":"129313","_version_":1592411603162103809},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"CA","providedCounty":"","ambiguous":false,"verbatimLocality":"","latlon":"-79.8,43.3","computedCountyFips":"3524","occurrenceID":"71801880","decimalLongitude":-79.8,"basisOfRecord":"unknown","providedCommonName":"","ownerInstitutionCollectionCode":"Geographically tagged INSDC sequences","scientificName":"Chironomus riparius","institutionID":"http://www.ebi.ac.uk/","computedStateFips":"ON","license":"CC_BY_4_0","TSNs":["129313"],"providerID":1621,"stateProvince":"","higherGeographyID":"","verbatimEventDate":"","decimalLatitude":43.3,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"","geo":"-79.8 43.3","provider":"European Molecular Biology Laboratory (EMBL)","calculatedCounty":"Halton","verbatimDepth":"","catalogNumber":"","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/-79.8,43.3/unknown","kingdom":"Animalia","calculatedState":"Ontario Canada","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","ITIScommonName":"NULL","resourceID":"1621,201821","ITIStsn":"129313","_version_":1592411870049861639},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"Douglas","ambiguous":false,"verbatimLocality":"","latlon":"-95.2905294,38.8965726","computedCountyFips":"20045","occurrenceID":"189783853","decimalLongitude":-95.29053,"basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://entomology.biodiversity.ku.edu/collections","ownerInstitutionCollectionCode":"Snow Entomological Museum Collection","scientificName":"Chironomus riparius","institutionID":"http://www.nhm.ku.edu/","computedStateFips":"20","license":"CC_BY_4_0","TSNs":["129313"],"providerID":196,"stateProvince":"Kansas","higherGeographyID":"","verbatimEventDate":"Apr.","decimalLatitude":38.896572,"coordinatePrecision":"","verbatimElevation":"","recordedBy":"Tucker, E","geo":"-95.2905294 38.8965726","provider":"University of Kansas Biodiversity Institute","calculatedCounty":"Douglas","verbatimDepth":"","catalogNumber":"1428853","ITISscientificName":"Chironomus riparius","coordinateUncertaintyInMeters":"","pointPath":"/-95.2905294,38.8965726/specimen/centroid","kingdom":"Animalia","calculatedState":"Kansas","hierarchy_homonym_string":"-202423-914154-914155-914158-82696-563886-99208-100500-563890-914213-118831-118832-125808-127917-129228-129229-129254-129313-","collectorNumber":"","centroid":"county","ITIScommonName":"NULL","resourceID":"196,202092","ITIStsn":"129313","_version_":1592427090078072834},{"eventDate":"","providedScientificName":"Chironomus riparius Meigen, 1804","countryCode":"US","providedCounty":"Douglas","ambiguous":false,"verbatimLocality":"","latlon":"-95.2905294,38.8965726","computedCountyFips":"20045","occurrenceID":"189784560","decimalLongitude":-95.29053,"basisOfRecord":"specimen","providedCommonName":"","collectionID":"http://entomology.biodiversity.ku.edu/col[...]
[...]
