http_interactions:
- request:
    method: get
    uri: https://bison.usgs.gov/solr/occurrences/select/?q=TSNs%3A%22175304%22&wt=json&rows=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain;charset=utf-8
      status: HTTP/1.1 200 OK
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":0,"params":{"q":"TSNs:\"175304\"","rows":"20","wt":"json"}},"response":{"numFound":1081210,"start":0,"docs":[{"eventDate":"1972-04-23","providedScientificName":"Accipiter striatus","year":1972,"countryCode":"US","ambiguous":false,"latlon":"-84.91667,46.75","computedCountyFips":"26033","occurrenceID":"51678606","decimalLongitude":-84.91667,"basisOfRecord":"observation","providedCommonName":"Sharp-shinned Hawk","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientificName":"Accipiter striatus","institutionID":"https://bison.usgs.gov","computedStateFips":"26","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","TSNs":["175304"],"providerID":440,"stateProvince":"Michigan","higherGeographyID":"26000","decimalLatitude":46.75,"geo":"-84.91667 46.75","provider":"BISON","calculatedCounty":"Chippewa","ITISscientificName":"Accipiter striatus","pointPath":"/-84.91667,46.75/observation/centroid","kingdom":"Animalia","calculatedState":"Michigan","hierarchy_homonym_string":"-202423-914154-914156-158852-331030-914179-914181-174371-823961-175280-175299-175304-","centroid":"10 Minute Block","ITIScommonName":"Sharp-shinned Hawk;epervier brun;Épervier brun;Gavilán pecho rufo","resourceID":"440,100008","ITIStsn":"175304","_version_":1592409441931624456},{"eventDate":"1968-05-07","providedScientificName":"Accipiter striatus","year":1968,"countryCode":"US","ambiguous":false,"latlon":"-84.91667,46.75","computedCountyFips":"26033","occurrenceID":"51678608","decimalLongitude":-84.91667,"basisOfRecord":"observation","providedCommonName":"Sharp-shinned Hawk","collectionID":"https://bison.usgs.gov/ipt/resource?r=usgs-pwrc-bbl-us-10minblock","ownerInstitutionCollectionCode":"USGS PWRC - Bird Banding Lab - US 10min Block","scientific[...]
